
<div class="header header_pages">
	
	<div ng-include="'components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		About us
	</div>
</div>


<div class="about_page wrap">

	<h2>Our Features</h2>
	<h4>Customers: Zippy Gigs puts you in touch with the right person or business at the right time!</h4>
	<div class="list">
		<div>Easy Search Features</div>
		<div>Find and hire local Freelancers, Independent Contractors and Small Business Owners</div>
		<div>Background Screened Vendors Available</div>
	</div>

	<h4>Vendors: Come share your talents and skills with folks in your area.</h4>
	<div class="list">
		<div>Freedom to work on your terms!</div>
		<div>No Commission Sharing -  only pay membership</div>
		<div>Ability to schedule appointments</div>
	</div>

	<h3>Our Mission</h3>
	<h4>“Get it done NOW!”</h4>
	<p>Zippy Gigs was founded under the belief that no one should have to wait to get help when they need it. While empowering Freelancers, Independent Contractors and Small Business Owners to work on their schedule, we help them build their business by connecting them with customers that need help in real time.</p>

	<div class="shape"></div>

</div>


<div ng-include="'components/partials/_footer.html'"></div>