
<div class="header header_pages">
	
	<div ng-include="'components/partials/_menu.html'"></div>

	<div class="page_name wrap terms">
		Web Site Privacy Policy
	</div>
</div>

<div class="wrap terms">
	<br>
	<p>
		ZippyGigs.com is committed to protecting your privacy and developing technology that gives you the most powerful and safe online experience. This Statement of Privacy applies to the ZippyGigs.com Web site and governs data collection and usage. By using the ZippyGigs.com website, you consent to the data practices described in this statement.
	</p>

	<h3>
		Collection of your Personal Information
	</h3>

	<p>
		ZippyGigs.com collects personally identifiable information, such as your e-mail address, name, home or work address or telephone number. ZippyGigs.com also collects anonymous demographic information, which is not unique to you, such as your ZIP code, age, gender, preferences, interests and favorites.
	</p>

	<p>
		There is also information about your computer hardware and software that is automatically collected by ZippyGigs.com. This information can include: your IP address, browser type, domain names, access times and referring Web site addresses. This information is used by ZippyGigs.com for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the ZippyGigs.com Web site.
	</p>

	<p>
		Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through ZippyGigs.com public message boards, this information may be collected and used by others. Note: ZippyGigs.com does not read any of your private online communications.
	</p>

	<p>
		ZippyGigs.com encourages you to review the privacy statements of Web sites you choose to link to from ZippyGigs.com so that you can understand how those Web sites collect, use and share your information. ZippyGigs.com is not responsible for the privacy statements or other content on Web sites outside of the ZippyGigs.com and ZippyGigs.com family of Web sites.
	</p>

	<h3>
		Use of your Personal Information
	</h3>

	<p>
		ZippyGigs.com collects and uses your personal information to operate the ZippyGigs.com Web site and deliver the services you have requested. ZippyGigs.com also uses your personally identifiable information to inform you of other products or services available from ZippyGigs.com and its affiliates. ZippyGigs.com may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
	</p>

	<p>
		ZippyGigs.com does not sell, rent or lease its customer lists to third parties. ZippyGigs.com may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. In addition, ZippyGigs.com may share data with trusted partners to help us perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to ZippyGigs.com, and they are required to maintain the confidentiality of your information.
	</p>

	<p>
		ZippyGigs.com does not use or disclose sensitive personal information, such as race, religion, or political affiliations, without your explicit consent.
		ZippyGigs.com keeps track of the Web sites and pages our customers visit within ZippyGigs.com, in order to determine what ZippyGigs.com services are the most popular. This data is used to deliver customized content and advertising within ZippyGigs.com to customers whose behavior indicates that they are interested in a particular subject area.
	</p>

	<p>
		ZippyGigs.com Web sites will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on ZippyGigs.com or the site; (b) protect and defend the rights or property of ZippyGigs.com; and, (c) act under exigent circumstances to protect the personal safety of users of ZippyGigs.com, or the public.
	</p>

	<h3>Use of Cookies</h3>

	<p>
		The ZippyGigs.com Web site use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a Web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
	</p>

	<p>
		One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize ZippyGigs.com pages, or register with ZippyGigs.com site or services, a cookie helps ZippyGigs.com to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same ZippyGigs.com Web site, the information you previously provided can be retrieved, so you can easily use the ZippyGigs.com features that you customized.
	</p>

	<p>
		You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the ZippyGigs.com services or Web sites you visit.
	</p>

	<h3>Security of your Personal Information</h3>

	<p>
		ZippyGigs.com secures your personal information from unauthorized access, use or disclosure. ZippyGigs.com secures the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other Web sites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.
	</p>

	<h3>Changes to this Statement</h3>

	<p>
		ZippyGigs.com will occasionally update this Statement of Privacy to reflect company and customer feedback. ZippyGigs.com encourages you to periodically review this Statement to be informed of how ZippyGigs.com is protecting your information.
	</p>

	<h3>Contact Information</h3>

	<p>
		ZippyGigs.com welcomes your comments regarding this Statement of Privacy. If you believe that ZippyGigs.com has not adhered to this Statement, please contact ZippyGigs.com at . We will use commercially reasonable efforts to promptly determine and remedy the problem.
	</p>
</div>


<div ng-include="'components/partials/_footer.html'"></div>