<div ng-if="vm.userData.type == 3 || vm.userData.type == '3' || vm.userData.type == 2 || vm.userData.type == '2'">
<div class="header header_pages search_page_header">
	
	<div ng-include="'components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		Search Gigs
	</div>
</div>


<div class="search_page wrap">

	<div class="menu">
		<div class="form">
			<h2><p ng-if="vm.job_type.id">{{vm.job_type.title}}</p></h2>
			<label>Miles from zip code:</label>
			<input type="number" class="half" ng-model="vm.params.radius">
			<input type="text" class="half" placeholder="from zip">

			<label>Gig Type:</label>
			<select ng-model="vm.gig_type" ng-options="type as type.title for type in vm.types">
			</select>

			<div ng-if="vm.gig_type.id">
				<label>Price:</label>
				<input type="number" class="half" placeholder="max" ng-model="vm.params.price_lt">
				<input type="number" class="half" placeholder="min" ng-model="vm.params.price_gt">
			</div>

			<button ng-click="vm.search()">Update Search</button>
		</div>
	</div>

	<div class="content">
		<div class="user" ng-repeat="gig in vm.gigs">
			<div class="left">
				<div class="avatar">
					<img src="../../assets/img/no_avatar.jpg" ng-if="gig.account.avatar_url == null">
					<img ng-src="{{ vm.api_img + gig.account.avatar_url }}" ng-if="gig.account.avatar_url != null">
				</div>
			</div>

			<div class="about">
				<div class="name">
					<div class="rating-block">
						<div>
							Response rating by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>

						<div>
							Satisfaction rating by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>
					</div>

					<b>{{ gig.account.first_name }} {{ gig.account.last_name }}</b>
					<br>
				</div>

				<div class="info">
					<b>Gig description:</b>
					<p ng-if="(gig.description == null) || (gig.description == '') ">- Description is not specified -</p>

					<p ng-if="gig.description != null">{{ gig.description }}</p>
				</div>

				<div class="job_types">
					<div ng-repeat="types in gig.account.job_types" ng-class="gig.job.type == types.id ? 'selected' : '' ">{{ types.title }}</div>
				</div>

				<div class="rate">
					Hourly Rate:
					<b>${{ gig.price }}</b>
				</div>


				<div class="desc">
					<b>Hire description:</b>
					<textarea ng-model="vm.data.description" placeholder="Message to client"></textarea>
				</div>

				<div class="buttons">
					<button ng-click="vm.hire(gig.id, 2)" class="success">Accept</button>
					<button ng-click="vm.hire(gig.id, 3)">Reject</button>
					<button ng-if="vm.data.description.length" ng-click="vm.createOrder($event)">Send<div class="success">Success</div></button>
					<button ng-click="vm.openCustomerProfile(gig.account.id)" class="success">Customer Profile</button>
				</div>

			</div>



			<div class="clear"></div>
		</div>

		<!--div class="user">
			<div class="left">
				<div class="avatar">
					<img src="../../assets/img/search_user.jpg">
				</div>
				<div class="av"><span></span>Available</div>
				<div class="av not_av selected"><span></span>Not Available</div>
			</div>

			<div class="about">
				<div class="name">
					<div class="rating-block">
						<div>
							Response rating-block by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>

						<div>
							Satisfaction rating-block by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>
					</div>
					
					First name:
					<b>Jimmy Johnson</b>
				</div>

				<div class="info">
					<b>Experience/background description:</b>
					<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit.</p>
				</div>

				<div class="rate">
					Hourly Rate:
					<b>$10</b>
				</div>

				<div class="buttons">
					<button>Hire Now</button>
					<button>View Available Times</button>
					<button class="vendor">Vendor Profile</button>
				</div>
			</div>



			<div class="clear"></div>
		</div-->

<!-- 		<div class="pagination">
			<div>« Previous</div>
			<div class="selected">1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>...</div>
			<div>6</div>
			<div>Next »</div>
		</div> -->

	</div>


	<div class="clear"></div>

</div>


<div ng-include="'components/partials/_footer.html'"></div>
</div>