<!DOCTYPE html>
<html lang="en" ng-app="zippyApp" ng-controller="MainController as MainController">
<head>
	<title data-ng-bind="seo.title">Zippy</title>

	<base href="/">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="title" data-ng-attr-content="{{seo.title}}" />
	<meta name="description" content="" data-ng-attr-content="{{seo.description}}" />
	<meta name="keywords" content="" data-ng-attr-content="{{seo.keywords}}" />
	<meta name="author" content="" data-ng-attr-content="{{seo.author}}" />

	<link rel="stylesheet" href="assets/libs/ngToast/dist/ngToast.min.css">
	<link href='assets/css/style.css' rel='stylesheet' type='text/css'/>

</head>
<body ng-cloak>
<div class="loading" ng-if="midLoader">Loading&#8230;</div>
	<toast></toast>
	<ui-view></ui-view>

</body>
<script type="text/javascript" src="assets/libs/libs.js"></script>
<script type="text/javascript" src="js.js"></script>
<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.11.1/js/client.min.js"></script>

<!-- Load the PayPal component. -->
<script src="https://js.braintreegateway.com/web/3.11.1/js/paypal.min.js"></script>
</html>
