<div class="header header_signup">
	
	<div ng-include="'../../components/partials/_menu.html'"></div>

	<div class="form_sign login" style="bottom: 250px;">
		<div class="top">
			<div class="icon login"></div>
			<h2>FORGOT PASSWORD</h2>
		</div>

		<div class="label"><img src="../../assets/img/icon_sign_login.png">Email</div>
		<input type="text" ng-model="vm.userData.login">

		<button ng-click="vm.forgotPassword()">Send</button>

	</div>	

</div>


<div ng-include="'../../components/partials/_footer.html'"></div>
