<div class="header header_pages">

    <div ng-include="'../../components/partials/_menu.html'"></div>

    <div class="page_name wrap">
        Vendor Orders
    </div>
</div>


<div class="orders wrap">

    <div class="tabs">
        <div class="tab" ng-class="vm.status_select == 1 ? 'selected' : ''" ng-click="vm.filterByStatus(1, MainController.accountType)">Pending</div>
        <div class="tab" ng-class="vm.status_select == 2 ? 'selected' : ''" ng-click="vm.filterByStatus(2, MainController.accountType)">Accepted</div>
        <div class="tab" ng-class="vm.status_select == 3 ? 'selected' : ''" ng-click="vm.filterByStatus(3, MainController.accountType)">Rejected</div>
        <div class="tab" ng-class="vm.status_select == 4 ? 'selected' : ''" ng-click="vm.filterByStatus(4, MainController.accountType)">Finished</div>
        <div class="clear"></div>
    </div>

    <div class="empty" ng-show="vm.orders.length == 0">
        Empty category.
    </div>

    <div class="users pending">
        <div class="user" ng-repeat="order in vm.orders">
            <div class="left">
                <div class="avatar">
                    <img src="../../assets/img/no_avatar.jpg" ng-if="order.gig.account.avatar_url == null">
                    <img ng-src="{{ vm.api_img + order.gig.account.avatar_url }}" ng-if="order.gig.account.avatar_url != null">
                </div>
            </div>

            <div class="about">
                <div class="name">
                    <div class="rating-block">
                        <div>
                            <span>Response rating by stars</span>
                            <fieldset class="rating-readonly" ng-show="order.gig.account.response_rating">
                                <span>4.0</span>
                                <input type="radio" id="{{ order.id }}1star5" name="rating1" value="5" disabled/><label class="full" for="{{ order.id }}1star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="{{ order.id }}1star4half" name="rating1" value="4 and a half" disabled/><label class="half" for="{{ order.id }}1star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="{{ order.id }}1star4" name="rating1" value="4" checked/><label class="full" for="{{ order.id }}1star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="{{ order.id }}1star3half" name="rating1" value="3 and a half" /><label class="half" for="1star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="{{ order.id }}1star3" name="rating1" value="3" disabled/><label class="full" for="{{ order.id }}1star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="{{ order.id }}1star2half" name="rating1" value="2 and a half" disabled/><label class="half" for="{{ order.id }}1star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="{{ order.id }}1star2" name="rating1" value="2" disabled/><label class="full" for="{{ order.id }}1star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="{{ order.id }}1star1half" name="rating1" value="1 and a half" disabled/><label class="half" for="{{ order.id }}1star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="{{ order.id }}1star1" name="rating1" value="1" disabled/><label class="full" for="{{ order.id }}1star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="{{ order.id }}1starhalf" name="rating1" value="half" disabled/><label class="half" for="{{ order.id }}1starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                            <span class="rating-empty" ng-show="!order.gig.account.response_rating">- No rating -</span>
                            <!--<img src="../../assets/img/search_user_star.png">-->
                            <!--<img src="../../assets/img/search_user_star.png">-->
                            <!--<img src="../../assets/img/search_user_star_empty.png">-->
                            <!--<img src="../../assets/img/search_user_star_empty.png">-->
                            <!--<img src="../../assets/img/search_user_star_empty.png">-->
                        </div>

                        <div>
                            <span>Satisfaction rating by stars</span>
                            <fieldset class="rating-readonly" ng-show="order.gig.account.response_rating">
                                <span>4.0</span>
                                <input type="radio" id="{{ order.id }}2star5" name="rating1" value="5" disabled/><label class="full" for="{{ order.id }}2star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="{{ order.id }}2star4half" name="rating1" value="4 and a half" disabled/><label class="half" for="{{ order.id }}2star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="{{ order.id }}2star4" name="rating1" value="4" checked/><label class="full" for="{{ order.id }}2star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="{{ order.id }}2star3half" name="rating1" value="3 and a half" /><label class="half" for="{{ order.id }}2star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="{{ order.id }}2star3" name="rating1" value="3" disabled/><label class="full" for="{{ order.id }}2star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="{{ order.id }}2star2half" name="rating1" value="2 and a half" disabled/><label class="half" for="{{ order.id }}2star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="{{ order.id }}2star2" name="rating1" value="2" disabled/><label class="full" for="{{ order.id }}2star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="{{ order.id }}2star1half" name="rating1" value="1 and a half" disabled/><label class="half" for="{{ order.id }}2star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="{{ order.id }}2star1" name="rating1" value="1" disabled/><label class="full" for="{{ order.id }}2star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="{{ order.id }}2starhalf" name="rating1" value="half" disabled/><label class="half" for="{{ order.id }}2starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                            <span class="rating-empty" ng-show="!order.gig.account.response_rating">- No rating -</span>
                            <!--<img src="../../assets/img/search_user_star.png">-->
                            <!--<img src="../../assets/img/search_user_star.png">-->
                            <!--<img src="../../assets/img/search_user_star_empty.png">-->
                            <!--<img src="../../assets/img/search_user_star_empty.png">-->
                            <!--<img src="../../assets/img/search_user_star_empty.png">-->
                        </div>
                    </div>

                    <b>{{ order.gig.account.first_name }} {{ order.gig.account.last_name }}</b>
                    <br>
                </div>

                <div class="info">
                    <b>Gig description:</b>
                    <p>{{ order.gig.description }}</p>
                </div>

                <div class="rate">
                    Hourly Rate:
                    <b>${{ order.gig.price }}</b>
                </div>

                <div class="hours-worked">
                    <b>Hours worked:</b>
                    <input ng-model="vm.data.hours_worked" placeholder="Hours worked" />
                </div>

                <div class="desc">
                    <b>Comments:</b>
                    <textarea ng-model="vm.data.vendor_feedback" placeholder="Message to client"></textarea>
                </div>

                <div class="response-rating">
                    <b>Response rating:</b>
                    <!--<input ng-model="vm.data.response_rating" placeholder="Response rating" />-->
                    <fieldset class="rating">
                        <input type="radio" id="1star5" ng-model="vm.data.response_rating" name="rating1" value="5" /><label class = "full" for="1star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="1star4half" ng-model="vm.data.response_rating" name="rating1" value="4.5" /><label class="half" for="1star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="1star4" ng-model="vm.data.response_rating" name="rating1" value="4" /><label class = "full" for="1star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="1star3half" ng-model="vm.data.response_rating" name="rating1" value="3.5" /><label class="half" for="1star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="1star3" ng-model="vm.data.response_rating" name="rating1" value="3" /><label class = "full" for="1star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="1star2half" ng-model="vm.data.response_rating" name="rating1" value="2.5" /><label class="half" for="1star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="1star2" ng-model="vm.data.response_rating" name="rating1" value="2" /><label class = "full" for="1star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="1star1half" ng-model="vm.data.response_rating" name="rating1" value="1.5" /><label class="half" for="1star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="1star1" ng-model="vm.data.response_rating" name="rating1" value="1" /><label class = "full" for="1star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="1starhalf" ng-model="vm.data.response_rating" name="rating1" value="0.5" /><label class="half" for="1starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>

                <div class="satisfaction-rating">
                    <b>Satisfaction rating:</b>
                    <!--<input ng-model="vm.data.satisfaction_rating" placeholder="Satisfaction rating" />-->
                    <fieldset class="rating">
                        <input type="radio" id="2star5" ng-model="vm.data.satisfaction_rating" name="rating2" value="5" /><label class="full" for="2star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="2star4half" ng-model="vm.data.satisfaction_rating" name="rating2" value="4.5" /><label class="half" for="2star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="2star4" ng-model="vm.data.satisfaction_rating" name="rating2" value="4" /><label class = "full" for="2star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="2star3half" ng-model="vm.data.satisfaction_rating" name="rating2" value="3.5" /><label class="half" for="2star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="2star3" ng-model="vm.data.satisfaction_rating" name="rating2" value="3" /><label class = "full" for="2star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="2star2half" ng-model="vm.data.satisfaction_rating" name="rating2" value="2.5" /><label class="half" for="2star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="2star2" ng-model="vm.data.satisfaction_rating" name="rating2" value="2" /><label class = "full" for="2star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="2star1half" ng-model="vm.data.satisfaction_rating" name="rating2" value="1.5" /><label class="half" for="2star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="2star1" ng-model="vm.data.satisfaction_rating" name="rating2" value="1" /><label class = "full" for="2star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="2starhalf" ng-model="vm.data.satisfaction_rating" name="rating2" value="0.5" /><label class="half" for="2starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>

                <div class="buttons" ng-if="order.status == 1">
                    <button class="accept">Accept</button>
                    <button>Decline</button>
                </div>
                <div class="buttons" ng-if="order.status == 2">
                    <button class="accept" ng-click="vm.showSubmitForm(order.id)">Submit work</button>
                    <button ng-if="vm.data.vendor_feedback.length" ng-click="vm.submitWork()">Send</button>
                </div>
                <!--<div class="buttons" ng-if="order.status == 2">-->
                    <!--<button class="accept">Accept</button>-->
                    <!--<button>Reject</button>-->
                <!--</div>-->
            </div>

            <div class="clear"></div>
        </div>
    </div>



</div>



<div ng-include="'../../components/partials/_footer.html'"></div>
