<div class="header">
	
	<div ng-include="'components/partials/_menu.html'"></div>

	<div class="search" ng-style="{'top': MainController.userData.type == 3 || MainController.userData.type == '3' || MainController.userData.type == 1 || MainController.userData.type == '1' ? '22%' : '30%'}">
		<h2>Get It Done Now!</h2>
		<p>Looking to get a small project done or just need a helping hand? Hire one of Zippy Gig’s Small Business vendors that are available now! No waiting around – GET IT DONE NOW!</p>

		<div class="form">
			<!--input type="text" placeholder="Search Vendor">
			<input type="text" placeholder="Enter Your Location"-->
			<button ng-if="MainController.userData.type == 3 || MainController.userData.type == '3' || MainController.userData.type == 1 || MainController.userData.type == '1'" ng-click="vm.goToSearch()">SEARCH</button>
		</div>
	</div>
</div>


<div class="about">
	<div class="find_red" ui-sref="about">FIND OUT ABOUT US</div>

	<p class="wrap">
		Zippy Gig members are Freelancers, Self-employed individuals and Small Business owners that want to help you out NOW! They want to help you with your small projects or task, and understand that sometimes you just can’t wait for a call back. Here you will find – Babysitters, Dog walkers, Computer Techs, Painters, Maids, Laborers, Cooks, Personal Shoppers, and even someone to pick you up a Fast Food meal or Take-out! You need something done, there may be a member waiting to help you out!
	</p>
</div>


<div class="vendor">
	<div class="wrap">
		<h2>Vendor Resources</h2>
		<h4>Business Tools and Resources</h4>

		<div class="items">
			<div class="inline">
				<b>Freelancer and/or self-employed</b>
				<p>If you are a freelance and/or self-employed, this is the place for you! Zippy Gigs gives you the freedom to provide your services when you are available. Just sign on and get connected with customers that need your services NOW! <b><a ui-sref="signUp({'#': 'signup_top'})">Register Today!</a></b></p>
			</div>


			<div class="inline">
				<b>Find tools</b>
				<p>Want to provide your services and don’t know where to start. Find all the tools and resources you may need to run a freelancer business, self-employed business and/or a small business owner. </p>
			</div>


			<div class="inline">
				<b>Small business owner</b>
				<p>It’s a big responsibility to run a small business. You have yourself and your employees that need to be working.  Zippy Gigs is a great place during those slow and in between job times. Become a member today, and keep the work coming in!</p>
			</div>
		</div>

	</div>
</div>


<div class="choose">
	<div class="wrap">

	<div class="text" id="why_us">
		<h2>Why Choose Us</h2>
		<p>
			<span>
				CONVIENENCE
			</span>
			<br>
			Convenience is the #1 reason to use Zippy Gigs. When looking for help, you can search and find someone that is available now or book them in advance – at your convenience. No calling around to see if someone can help you, get help from those ready to NOW. Start your search now!
		</p>
	</div>

	</div>

	<div class="video">
<!-- 		<div class="play" ng-click="vm.pauseOrPlay($event)">Play Video</div>
 -->	<!-- <video preload="auto" controls>
			<source src="../../assets/img/ZippyGigs - Intro.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video> -->
		<videogular vg-theme="vm.config.theme.url">
	        <vg-media vg-src="vm.config.sources">
	        </vg-media>

	        <vg-controls>
	            <vg-play-pause-button></vg-play-pause-button>
	            <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
	            <vg-scrub-bar>
	                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
	            </vg-scrub-bar>
	            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
	            <vg-volume>
	                <vg-mute-button></vg-mute-button>
	                <vg-volume-bar></vg-volume-bar>
	            </vg-volume>
	            <vg-fullscreen-button></vg-fullscreen-button>
	        </vg-controls>

	        <vg-overlay-play></vg-overlay-play>
	    </videogular>
	</div>
</div>


<div class="contact">
	<div class="box">
		<div class="wrap">
			<h2>Vendors Join Now</h2>
			<h4>Work on your TERMS!</h4>

			<p>Join Zippy Gigs and work on your TERMS! You make your own hours, just sign in when you are available or use our handy scheduling tool, and allow your customers to schedule an appointment – allowing you to plan your work on your TERMS!</p>

			<div class="button_contact">Contact us</div>
		</div>
	</div>
</div>


<div class="comments">
	<h2>Out Testimonials</h2>
	<div class="slides">
		<div class="item">
			<div class="user">
				<div class="avatar"></div>
				<div class="name">Steven Strange<span>@DoctorS</span></div>
			</div>
			<div class="text"><span>@Pixelbuddha</span> Suspendisse sodales sem est, in scelerisque felis scelerisque in. Aenean faucibus mollis risus. Praesent sit amet erat eget eros.</div>
			<div class="time">2 hours ago</div>
		</div>

		<div class="slide_left"></div>
		<div class="slide_right"></div>
	</div>
</div>


<div class="subs">
	<div class="wrap">
		<h2>Subscribe To Our Newsletter</h2>
		<div class="right">
			<input type="email" placeholder="Email...">
			<button class="subscribe_button">SUBSCRIBE</button>
		</div>
	</div>
</div>


<div ng-include="'components/partials/_footer.html'"></div>
