<div class="header header_signup">
	
	<div ng-include="'../../components/partials/_menu.html'"></div>

	<div class="form_sign login">
		<div class="top">
			<div class="icon login"></div>
			<h2>LOGIN</h2>
		</div>

		<div class="label"><img src="../../assets/img/icon_sign_login.png">Email</div>
		<input type="text" ng-model="vm.userData.login">

		<div class="label"><img src="../../assets/img/icon_sign_pass.png">Password</div>
		<input type="password" ng-model="vm.user.password">
		<div class="go_reg" style="float: right; margin: 0; margin-bottom: 10px;"><a ui-sref="forgot_password">Forgot Password?</a></div>

		<button ng-click="vm.signIn()">Login</button>

		<div class="go_reg">
			Don't have an account? <a ui-sref="signUp">Register Here</a>
		</div>

	</div>	

</div>


<div ng-include="'../../components/partials/_footer.html'"></div>
