<div class="header header_pages">
	
	<div ng-include="'../../components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		Customer Orders
	</div>
</div>


<div class="orders wrap">

	<div class="tabs">
		<div class="tab" ng-class="vm.status_select == 1 ? 'selected' : ''" ng-click="vm.filterByStatus(1, MainController.accountType)">Pending</div>
		<div class="tab" ng-class="vm.status_select == 2 ? 'selected' : ''" ng-click="vm.filterByStatus(2, MainController.accountType)">Accepted</div>
		<div class="tab" ng-class="vm.status_select == 3 ? 'selected' : ''" ng-click="vm.filterByStatus(3, MainController.accountType)">Rejected</div>
		<div class="tab" ng-class="vm.status_select == 4 ? 'selected' : ''" ng-click="vm.filterByStatus(4, MainController.accountType)">Finished</div>
		<div class="clear"></div>
	</div>

	<div class="empty" ng-show="vm.orders.length == 0">
		Empty category.
	</div>

	<div class="users pending">
		<div class="user" ng-repeat="order in vm.orders">
			<div class="left">
				<div class="avatar">
					<img src="../../assets/img/no_avatar.jpg" ng-if="order.vendor.avatar_url == null">
					<img ng-src="{{ vm.api_img + order.vendor.avatar_url }}" ng-if="order.vendor.avatar_url != null">
				</div>
			</div>

			<div class="about">
				<div class="name">
					<div class="rating-block">
						<div>
							Response rating by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>

						<div>
							Satisfaction rating by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>
					</div>

					<b>{{ order.vendor.first_name }} {{ order.vendor.last_name }}</b>
					<br>
				</div>

				<div class="info">
					<b>Vendor response:</b>
					<p ng-if="vm.status_select != 4">{{ order.description }}</p>
					<p ng-if="vm.status_select == 4">{{ order.vendor_feedback }}</p>
				</div>

				<div class="rate">
					Hourly Rate:
					<b>${{ order.gig.price }}</b>
				</div>

				<div class="rate" ng-if="vm.status_select == 4">
					Hours worked:
					<b>{{ order.hours_worked }}</b>
				</div>

				<div class="rate" ng-if="vm.status_select == 4">
					Money to pay
					<b>${{ order.money_to_pay }}</b>
				</div>

				<!--<div class="buttons" ng-if="order.status == 1">-->
					<!--<button class="accept">Accept</button>-->
					<!--<button>Decline</button>-->
				<!--</div>-->
				<div class="buttons" ng-if="order.status == 2">
					<button class="accept">Accept</button>
					<button>Reject</button>
				</div>

				<div class="buttons" ng-if="order.status == 4">
					<button class="accept" ng-click="vm.payForGig(order.id)">Pay</button>
					<!--<script src="https://www.paypalobjects.com/api/button.js?"-->
							<!--data-merchant="braintree"-->
							<!--data-id="paypal-button"-->
							<!--data-button="checkout"-->
							<!--data-color="gold"-->
							<!--data-size="medium"-->
							<!--data-shape="pill"-->
							<!--data-button_type="submit"-->
							<!--data-button_disabled="false"-->
					<!--&gt;</script>-->
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>



</div>


<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.11.0/js/client.min.js"></script>

<!-- Load the PayPal component. -->
<script src="https://js.braintreegateway.com/web/3.11.0/js/paypal.min.js"></script>

<div ng-include="'../../components/partials/_footer.html'"></div>
