<div class="header header_pages">
	
	<div ng-include="'components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		FAQs
	</div>
</div>


<div class="faq_page wrap">

	<div class="title">Find answers to any question you have.</div>

	<div class="faq_list">
		<div class="item">
			<div class="ask" ask-faq>What is Zippy Gigs?</div>
			<div class="answer">
			<ul><li>Zippy Gigs is a community of vendors that are available to help you with those small and large jobs or projects. The difference is that you will find someone that is available NOW! No more waiting around for a phone call back.</li></ul></div>
		</div>

		<div class="item">
			<div class="ask" ask-faq>Why should I use Zippy Gigs?</div>
			<div class="answer">
				<ul>
					<li>All Vendors have passed a background screening.</li>
					<li>No waiting. You hire someone that is available now.</li>
					<li>Schedule an appointment in advance.</li>
					<li>Upfront pricing. You know what you are paying or can negotiate prices.</li>
					<li>No searching several sites for different needs. If you need help with something, Zippy Gigs most likely will have a vendor ready to help you with any project or job.</li>
					<li>Supporting local Freelancers, Independent Contracts and Small business owners.</li>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="ask" ask-faq>How do I sign up to become a Vendor?</div>
			<div class="answer">
				<ul>
					<li><a ui-sref="signUp">Register Here</a></li>
					<li>Pay for membership to activate your account.</li>
					<li>Once you have passed the background check your account will be approved.</li>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="ask" ask-faq>How much does it cost for a Vendor Membership?</div>
			<div class="answer">
				<ul>
					<li>First 3 months FREE after background screening approval. Giving you time to build your business and clientele.</li>
					<li>Never pay a percentage of what you earn. Zippy Gigs only charges you a monthly membership fee.</li>
					<li>Membership Plans:</li>
						<ul class="inside">
							<li>1-month membership: $39.99 a month</li>
							<li>3-month membership: $34.99 a month</li>
							<li>6-month membership: $29.99 a month</li>
						</ul>
				</ul>
			</div>
		</div>

		<div class="item">
			<div class="ask" ask-faq>How much does it cost for a Customer Membership?</div>
			<div class="answer">
				<ul><li>It is always FREE! No cost to sign up, search and hire someone to help you with your small or large projects. Start your search today!</li></ul>
			</div>
		</div>

		<div class="item">
			<div class="ask" ask-faq>What is Zippy Gigs’ Background screening standards?</div>
			<div class="answer">
				<ul>
					<li><a>Background Screening Standards</a></li>
				</ul>
			</div>
		</div>
		<div class="title">Vendor Frequently Asked Questions and Resources
As a small business owner, freelancer and/or Independent Contractor, you may find these tools helpful for your business. If you wish to have anything added to the list below, please send an email to: <b>Resources@zippygigs.com.</b></div>
		<div class="item">
			<div class="ask" ask-faq>How do I get my background screening?</div>
			<div class="answer">
				<ul>
					<li>First you must register as a vendor. Once you have registered you will proceed to the Background payment section.</li>
					<li>Background Payment: you will need to provide</li>
							<ul class="inside">
								<li>First Name</li>
								<li>Middle Name</li>
								<li>Last Name</li>
								<li>Phone number</li>
								<li>Email Address</li>
								<li>Background screenings cost $39.00</li>
							</ul>
					<li>You will receive an email with details on how to submit an application for the background check.</li>
				</ul>
			</div> 
		</div>
		<div class="item">
			<div class="ask" ask-faq>What if I already have a background screening?</div>
			<div class="answer">
				<ul>
					<li>As long as your background screening is not older than 6 months, you may upload it upon registering for a vendor membership. </li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="ask" ask-faq>What if I already have a background screening?</div>
			<div class="answer">
				<ul>
					<li>If concerned with having your background screening approved, please review the Background Screening Criteria.</li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="ask" ask-faq>Should I keep a log of my miles?</div>
			<div class="answer">
				<ul>
					<li>For business and tax purposes you may wish to, try the link below:</li>
							<ul class="inside">
								<li>Mileage Logging: <a href="https://www.mileiq.com/" target="_blank">www.mileiq.com</a></li>
							</ul>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="ask" ask-faq>Small Business & Self-Employed IRS Info:</div>
			<div class="answer">
				<ul>
					<li><a href="https://www.irs.gov/businesses/small-businesses-self-employed" target="_blank">https://www.irs.gov/businesses/small-businesses-self-employed</a></li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="ask" ask-faq>Bookkeeping Information:</div>
			<div class="answer">
				<ul>
					<li><a href="https://www.waveapps.com/accounting/" target="_blank">https://www.waveapps.com/accounting/</a></li>
					<li><a href="https://www.manager.io/" target="_blank">https://www.manager.io/</a></li>
					<li><a href="https://www.gnucash.org/" target="_blank">https://www.gnucash.org/</a></li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="ask" ask-faq>Getting a Business License:</div>
			<div class="answer">
				<ul>
					<li><a href="http://www.wikihow.com/Obtain-a-Business-License" target="_blank">http://www.wikihow.com/Obtain-a-Business-License</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>



<div ng-include="'components/partials/_footer.html'"></div>
