
<div class="header header_pages">

    <div ng-include="'components/partials/_menu.html'"></div>

    <div class="page_name wrap">
        Choose membership
    </div>
</div>


<div class="membership wrap">
    <h4 ng-if="vm.userData.vendor_membership === false">Learn how to get - First 3 months FREE. Giving you time to build your business and clientele. Never pay a percentage of what you earn. Zippy Gigs only charges you a monthly membership fee. <a>Details</a> Submit and pass a background check screen and your business will receive 3 months free! Email background check to: <a href="mailto:backgroundchecks@zippygigs.com">backgroundchecks@zippygigs.com today.</a></h4>
    <h2 ng-if="vm.userData.vendor_membership === false">Please choose membership plan:</h2>
    <div class="list" ng-if="vm.userData.vendor_membership === false">
        <label><input type="radio" name="membership" ng-model="vm.plan" value="1" />1-month membership: $39.99 a month</label>
        <label><input type="radio" name="membership" ng-model="vm.plan" value="2" />3-month membership: $34.99 a month</label>
        <label><input type="radio" name="membership" ng-model="vm.plan" value="3" />6-month membership: $29.99 a month</label>
    </div>
    <h2 ng-if="vm.userData.vendor_membership === true">Congratulations! Membership charged successfully!</h2>
    <div ng-if="vm.userData.vendor_membership === true" class="buttons">
        <button ng-click="vm.goToGigs()">Search gigs</button>
    </div>
    <script ng-if="vm.userData.vendor_membership === false" src="https://www.paypalobjects.com/api/button.js?"
            data-merchant="braintree"
            data-id="paypal-button"
            data-button="checkout"
            data-color="gold"
            data-size="medium"
            data-shape="pill"
            data-button_type="submit"
            data-button_disabled="false"
    ></script>
</div>

<script type="application/javascript">
    window.onload = function() {
        var paypalButton = vm.paypalButton;
        console.log("paypalButton:", paypalButton)
    }
</script>
<div ng-include="'components/partials/_footer.html'"></div>