<div class="footer wrap footer_pages">
	<div class="company col">
		<img src="../../assets/img/logo_footer.png">
		<p>&copy;2016, Zippy Gigs, All Rights Reserved</p>
	</div>
	<div class="navigation col">
		<b>Navigation</b>
		<a ui-sref="home({'#': 'why_us'})">Why Us?</a>
		<a ui-sref="about">About Us</a>
		<a ui-sref="faq">FAQs</a>
		<a ui-sref="terms({'#': 'terms'})">Terms & Conditions</a>
		<a href="privacy-notice" target="_self">Privacy Notice</a>
	</div>
	<div class="contacts col">
		<div class="phone">
			<a href="mailto:contactUs@zippygigs.com">ContactUs@zippygigs.com</a>
			<span>Available 10 am EST – 5 pm EST</span>
		</div>
	</div>
	<div class="info col">
		<b>Information</b>
		<p><b>Have a question?</b> Contact Questions@zippygigs.com<br>
			<b>Need to report issues with website?</b> Contact webmaster@zippygigs.com<br><b>Checking on Background approval?</b>Contact Backgroundchecks@zippygigs.com and please include your Name and email address</p>
	</div>

	<div class="clear"></div>

	<!--div class="social">
		<div class="twitter">
			<button>Twitter</button>
			<span>136 312 Followers</span>
		</div>

		<div class="facebook">
			<button>Facebook</button>
			<span>218 092 Subscribers</span>
		</div>
	</div-->
</div>
