<div class="menu wrap">
	<a ui-sref="home" class="logo"><img src="../../assets/img/logo.png"></a>

	<div class="dropdown" ng-show="MainController.userLoggined == true">
		<button class="dropbtn">Home <span>&#x25BE;</span></button>
		<div class="dropdown-content">
			<a ui-sref="home">Home</a>
			<a ui-sref="contact">Contact</a>
			<a ui-sref="about">About Us</a>
			<a ui-sref="faq">FAQs</a>
			<!--<a ui-sref="vendor">Vendor Resources</a>-->
		</div>
	</div>
	<a ui-sref="home" ng-show="MainController.userLoggined == false">Home</a>
	<a ui-sref="contact" ng-show="MainController.userLoggined == false">Contact</a>
	<a ui-sref="about" ng-show="MainController.userLoggined == false">About Us</a>
	<a ui-sref="faq" ng-show="MainController.userLoggined == false">FAQs</a>
	<!--<a ui-sref="vendor">Vendor Resources</a>-->

	<a ui-sref="customDash" ng-show="MainController.userLoggined == true"
		 ng-if="(MainController.userData.type == 1 || MainController.userData.type == '1' || ((MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.accountType == 'customer'))) && (MainController.userData.first_login == false)">Dashboard</a>
	<a ui-sref="customer_orders" ng-show="MainController.userLoggined == true"
	   ng-if="(MainController.userData.type == 1 || MainController.userData.type == '1' || ((MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.accountType == 'customer'))) && (MainController.userData.first_login == false)">Orders</a>
	<a ui-sref="vendorDash" ng-show="MainController.userLoggined == true"
		 ng-if="(MainController.userData.type == 2 || MainController.userData.type == '2' || ((MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.accountType == 'vendor'))) && (MainController.userData.first_login == false)">Dashboard</a>
	<a ui-sref="vendor_orders" ng-show="MainController.userLoggined == true"
	   ng-if="(MainController.userData.type == 2 || MainController.userData.type == '2' || ((MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.accountType == 'vendor')) && (MainController.userData.first_login == false)) && (MainController.userData.first_login == false)">Orders</a>
	<a ui-sref="account" ng-show="MainController.userLoggined == true">Account</a>
	<a ui-sref="search" ng-show="MainController.userLoggined == true"
	   ng-if="(MainController.userData.type == 1 || MainController.userData.type == '1' || ((MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.accountType == 'customer'))) && (MainController.userData.first_login == false)">Search</a>
	<a ui-sref="mygigs" ng-show="MainController.userLoggined == true"
	   ng-if="(MainController.userData.type == 2 || MainController.userData.type == '2' || ((MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.accountType == 'vendor'))) && (MainController.userData.first_login == false)">Gigs</a>
	<div class="login" ng-show="MainController.userLoggined == true">
		<a href="" ng-if="(MainController.userData.type == 3 || MainController.userData.type == '3') && (MainController.userData.first_login == false)"
		   ng-click="MainController.switchTo(MainController.accountType)" style="text-align: left;">User: <span style="color: #59c3cb;">{{ MainController.accountType }}</span></a>
		<a href="" ng-click="MainController.logOut()">Exit</a>
	</div>

	<div class="login" ng-show="MainController.userLoggined == false">
		<a ui-sref="signUp" class="reg">Register</a>
		<a ui-sref="signIn" class="log">Login</a>
	</div>
</div>