<div class="header header_pages">
	
	<div ng-include="'../../components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		Account settings
	</div>
</div>


<div class="account wrap">

	<div class="avatar">
		<div class="image"><div id="avatar" ng-style="{'backgroundImage': 'url('+vm.avatar+')'}"></div></div>
		<input type="file" ng-model="vm.photo" onchange="angular.element(this).scope().uploadAvatar(this)" class="hidden" id="file_avatar">
		<div class="save" ng-click="vm.avatarSave()">Change Profile Picture</div>

		<!--<div align="center">-->
			<!--<br><br><a ui-sref="orders">ORDERS</a>-->
		<!--</div>-->
	</div>

	<div class="info">
		<div class="item">
			<p ng-if="vm.userData.first_login">Choose an account type and fill out your personal information to proceed.</p>
		</div>
		<div class="item">
			<span>Account Type:</span>
			<select class="w70 select" ng-model="vm.userData.type">
				<option value="1">Customer</option>
				<option value="2">Vendor</option>
				<option value="3">Customer & Vendor</option>
			</select>
		</div>
		<div class="item">
			<span>First name:</span>
			<input type="text" class="w70 upper" ng-model="vm.userData.first_name">
		</div>
		<div class="item">
			<span>Last name:</span>
			<input type="text" class="w70 upper" ng-model="vm.userData.last_name">
		</div>
		<div class="item">
			<span>Address:</span>
			<input type="text" class="w70" ng-model="vm.userData.address">
		</div>
		<div class="item half main">
			<span>Cell phone:</span>
			<input type="text" class="w50" ng-model="vm.userData.phone">
		</div>
		<div class="item half alter">
			<span>Alternative phone:</span>
			<input type="text" class="w50" ng-model="vm.userData.alt_phone">
		</div>
		<div class="item">
			<span>Skype:</span>
			<input type="text" class="w70" ng-model="vm.userData.skype">
		</div>
		<div class="item">
			<span>Paypal:</span>
			<input type="text" class="w70" ng-model="vm.userData.pay_pal">
		</div>
		<div class="item">
			<span>Zip Code:</span>
			<input type="text" class="w70" ng-model="vm.userData.zip_code">
		</div>

		<div class="save" ng-click="vm.accountSave();">Save Settings<div class="success" ng-class="{true : vm.accountSaved == true}">Saved!</div></div>
	</div>

	<div class="clear"></div>

</div>



<div ng-include="'../../components/partials/_footer.html'"></div>
