<div class="header header_signup">
	
	<div ng-include="'../../components/partials/_menu.html'"></div>

	<div class="form_sign login" style="bottom: 250px;">
		<div class="top">
			<div class="icon login"></div>
			<h2>RESET PASSWORD</h2>
		</div>

		<div class="label"><img src="../../assets/img/icon_sign_login.png">New Password</div>
		<input type="password" ng-model="vm.userData.password">

		<button ng-click="vm.resetPassword()">Reset Password</button>

	</div>	

</div>


<div ng-include="'../../components/partials/_footer.html'"></div>
