<div ng-if="vm.userData.type == 3 || vm.userData.type == '3' || vm.userData.type == 1 || vm.userData.type == '1'">
    <div class="header header_pages search_page_header">

        <div ng-include="'components/partials/_menu.html'"></div>

        <div class="page_name wrap">
            Customer Dashboard
        </div>
    </div>


    <div class="customdash wrap">

        <div class="info">
            <div class="avatar">
                <!--<div style="height: 100%; width: 100%;" ng-if="vm.userData.avatar_url" ng-style="{'backgroundImage': 'url(http://26756.s.t4vps.eu/api/v1/client{{vm.userData.avatar_url}})'}"></div>-->
                <img style="height: 120px; width: 120px;" ng-src="{{ vm.api_img + vm.profile.avatar_url}}" ng-if="vm.userData.avatar_url != null">
                <img style="height: 120px; width: 120px;" src="../../assets/img/no_avatar.jpg" ng-if="vm.userData.avatar_url == null">
            </div>

            <div class="name">
                Full name:
                <b>{{vm.profile.first_name}} {{vm.profile.last_name}}</b>
            </div>

            <div class="clear"></div>

            <div class="about" ng-if="vm.selectedGigItem.id">
                <b>{{vm.selectedGigItem.gig._type.title}} <div class="price">${{vm.selectedGigItem.gig.price}}</div></b>
                <div class="desc">{{vm.selectedGigItem.gig.description}}</div>
            </div>

            <div class="rating-block">
                <span>Response rating by stars</span>
                <fieldset class="rating-readonly dashboard" ng-show="vm.userData.response_rating">
                    <span>4.0</span>
                    <input type="radio" id="1star5" name="rating1" value="5" disabled/><label class = "full" for="1star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="1star4half" name="rating1" value="4 and a half" disabled/><label class="half" for="1star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="1star4" name="rating1" value="4" checked/><label class = "full" for="1star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="1star3half" name="rating1" value="3 and a half" /><label class="half" for="1star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="1star3" name="rating1" value="3" disabled/><label class = "full" for="1star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="1star2half" name="rating1" value="2 and a half" disabled/><label class="half" for="1star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="1star2" name="rating1" value="2" disabled/><label class = "full" for="1star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="1star1half" name="rating1" value="1 and a half" disabled/><label class="half" for="1star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="1star1" name="rating1" value="1" disabled/><label class = "full" for="1star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="1starhalf" name="rating1" value="half" disabled/><label class="half" for="1starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <span class="rating-empty" ng-show="!vm.userData.response_rating">- No rating yet -</span>
                <!--<img src="../../assets/img/search_user_star.png">-->
                <!--<img src="../../assets/img/search_user_star.png">-->
                <!--<img src="../../assets/img/search_user_star_empty.png">-->
                <!--<img src="../../assets/img/search_user_star_empty.png">-->
                <!--<img src="../../assets/img/search_user_star_empty.png">-->
            </div>

            <div class="rating-block">
                <span>Satisfaction rating by stars</span>
                <fieldset class="rating-readonly dashboard" ng-show="vm.userData.satisfaction_rating">
                    <span>4.5</span>
                    <input type="radio" id="2star5" name="rating2" value="5" disabled/><label class="full" for="2star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="2star4half" name="rating2" value="4 and a half" checked/><label class="half" for="2star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="2star4" name="rating2" value="4" disabled/><label class = "full" for="2star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="2star3half" name="rating2" value="3 and a half" disabled/><label class="half" for="2star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="2star3" name="rating2" value="3" disabled/><label class = "full" for="2star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="2star2half" name="rating2" value="2 and a half" disabled/><label class="half" for="2star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="2star2" name="rating2" value="2" disabled/><label class = "full" for="2star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="2star1half" name="rating2" value="1 and a half" disabled/><label class="half" for="2star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="2star1" name="rating2" value="1" disabled/><label class = "full" for="2star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="2starhalf" name="rating2" value="half" disabled/><label class="half" for="2starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <span class="rating-empty" ng-show="!vm.userData.satisfaction_rating">- No rating yet -</span>
                <!--<img src="../../assets/img/search_user_star.png">-->
                <!--<img src="../../assets/img/search_user_star.png">-->
                <!--<img src="../../assets/img/search_user_star.png">-->
                <!--<img src="../../assets/img/search_user_star_empty.png">-->
                <!--<img src="../../assets/img/search_user_star_empty.png">-->
            </div>

            <div class="list buttons" style="line-height: 1;">
                <label>Contact info:</label>
                <p style="font-size: 12px; line-height: 1; font-family: 'Open Sans';"><a href='/membership' style="color: #00a3af; cursor: pointer; font-size: 13px; font-weight: bold;">Buy</a> a membership to see contact information</p>
            </div>
            <!--<div class="profile">Customer Profile</div>-->
        </div>

        <div class="items">
            <div class="head">
                All Gigs paid for
                <b>{{vm.finishedGigs.length}}</b>
            </div>

            <div class="list">
                <div class="item" ng-class="vm.selectedGigItem.id == gig.id ? 'selected' : ''" ng-repeat="gig in vm.finishedGigs">
                    <div ng-click="vm.selectedGig(gig)">
                        <b>{{gig.gig._type.title}} <div class="price">${{gig.gig.price}}</div></b>
                        <p>{{gig.gig.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

    </div>


    <div ng-include="'components/partials/_footer.html'"></div>
</div>
