@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700,800';
/*@import url("../libs/css-star-rating/dist/css/star-rating.css");*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


body, html {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	font-weight: 300;
	min-width: 1280px;
}

a {
	text-decoration: none;
	color: inherit;
}

.clear {
	display: block;
	clear: both;
}
.wrap {
	width: 1140px;
	margin: auto;
	font-family: 'Open Sans';
	position: relative;
}

.w10 {width: 10%}
.w20 {width: 20%}
.w25 {width: 25%}
.w30 {width: 30%}
.w35 {width: 35%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}
.upper {text-transform: uppercase;}
.hidden {display: none; opacity: 0; visibility: hidden;}


/*--------------- HEADER ---------------*/

.header {
	font-weight: 400;
	height: 700px;
	width: 100%;
	background-image: url("../img/header_bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header .menu {
	padding-top: 20px;
}
.header .menu img {
	vertical-align: middle;
	margin-right: 50px;
}
.header .menu a {
	vertical-align: middle;
	color: white;
	font-size: 16px;
	padding: 10px 17px;
    border-bottom: 1px solid rgba(255,255,255,0);
	transition: all 0.5s;
}
.header .menu a:not(.logo):hover {
    border-bottom: 1px solid rgba(255,255,255,0.25);
}
.header .menu .login {
	float: right;
	vertical-align: middle;
	margin-top: 28px;
}
.header .menu .login a {
	padding: 10px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
.header .menu .login .reg {background-image: url("../img/header_reg.png");}
.header .menu .login .log {background-image: url("../img/header_log.png");}

.header .search {
	position: absolute;
	top: 22%;
	width: 100%;
	text-align: center;
	left: 0px;
	right: 0px;
	font-family: "Open Sans";
	color: white;
}
.header .search h2 {
	font-size: 80px;
	font-weight: 700;
	margin: 0px;
}
.header .search p {
	font-weight: 300;
	max-width: 650px;
	margin: 10px auto;
	margin-bottom: 30px;
	font-size: 20px;
}
.header .search .form input {
	width: 320px;
	box-sizing: border-box;
	padding: 25px;
	color: #333;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 300;
	border: none;
	border-radius: 2px;
	background: white;
	margin-right: 20px;
	outline: none;
}
.header .search .form button {
	width: 200px;
	box-sizing: border-box;
	padding: 25px;
	color: white;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	background: #f84509;
	outline: none;
	transition: all 0.25s;
	cursor: pointer;
}
.header .search .form button:hover {
	background: #bd3f13;
}


/* --------- ABOUT && VENDOR ---------*/

.about {
	position: relative;
	font-family: "Open Sans";
}
.about .find_red {
	position: absolute;
	top: -37px;
	left: calc(50% - 180px);
	width: 360px;
	padding: 18px;
	box-sizing: border-box;
	color: white;
	background: #f14311;
	border-radius: 100px;
	border: 6px solid white;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	z-index: 100;
}
.about p {
	padding-top: 70px;
	padding-bottom: 55px;
	font-size: 18px;
	text-align: center;
	color: #333;
	font-weight: 400;
	width: 900px;
}


.vendor {
	font-family: "Open Sans";
	background-color: #f4f4f4;
	color: #333;
	padding: 50px 0px;
}
.vendor h2 {
	font-weight: 700;
	font-size: 44px;
	text-align: center;
	margin: 0px;
}
.vendor h4 {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #666666;
	margin-top: -10px;
}
.vendor .items {
	margin-top: 40px;
}
.vendor .items .inline {
	width: 370px;
	box-sizing: border-box;
	background-position: 0px 3px;
	background-repeat: no-repeat;
	padding-left: 100px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
}
.vendor .items .inline:nth-child(1) {background-image: url("../img/vendor_1.png");}
.vendor .items .inline:nth-child(2) {background-image: url("../img/vendor_2.png");}
.vendor .items .inline:nth-child(3) {background-image: url("../img/vendor_3.png");}

.vendor .items .inline b {
	display: block;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 600;
}
.vendor .items .inline p {
	color: #848e97;
	font-size: 14px;
	font-weight: 400;
	padding-right: 20px;
}
/* --------- DROPDOWN MENU ITEM ----- */
.dropbtn {
	background: transparent;
	color: white;
	padding: 10px 17px;
	vertical-align: middle;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255,0);
	outline: none;
}

.dropbtn span {
	font-size: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.73);
	min-width: 112px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	border-bottom: 1px solid rgba(255,255,255,0.25);}


/* --------- CHOOSE --------- */

.choose {
	font-family: "Open Sans";
	background-color: #00a1b0;
	color: white;
	position: relative;
}
.choose .text {
	padding: 35px;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}
.choose .text h2 {
	font-weight: 700;
	font-size: 52px;
	margin: 0px;
	margin-bottom: 10px;
}
.choose .text p {
	font-size: 20px;
	font-weight: 300;
}
.choose .text p span {
	font-size: 24px;
	font-weight: 400;
	display: block;
}


.choose .video {
	background-image: url("../img/choose_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 50%;
	right: 0px;
	max-width: 700px;
}
/*.choose .video .play {
	font-weight: 700;
	font-size: 22px;
	padding-top: 85px;
	background-image: url("../img/choose_play.png");
	background-repeat: no-repeat;
	background-position: 50% 0px;
	text-align: center;
	position: absolute;
	width: 150px;
	top: calc(50% - 55px);
	left: calc(50% - 75px);
	cursor: pointer;
	transition: all 0.5s;
}*/
.choose .video .play:hover {
	transform: scale(1.1);
}
.choose .video video {
    width: 100%;
    height: 93%;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}


/* --------- CONTACT --------- */


.contact {
	min-height: 65vw;
	position: relative;
	background-image: url("../img/contact_bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Open Sans";
	color: #333;
}
.contact .box {
	position: absolute;
	text-align: center;
	bottom: 10%;
	left: 0px;
	right: 0px;
}
@media screen and (min-width: 1500px) {
	.contact .box {
		bottom: 13%;
	}
}
.contact .box .wrap {
	width: 760px;
}
.contact .box h2 {
	font-weight: 700;
	font-size: 44px;
	text-align: center;
	margin: 0px;
}
.contact .box h4 {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #666666;
	margin-top: -10px;
}
.contact .box p {
	font-size: 18px;
	font-weight: 400;
	box-sizing: border-box;
	margin: 40px auto;
}
.contact .box .button_contact {
	width: 380px;
	margin: auto;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.5s;
	color: white;
	text-align: center;
	border-radius: 100px;
	background: #00a1b0;
	font-weight: 700;
	font-size: 28px;
	padding: 10px;
	background: linear-gradient(to bottom, #00a1b0 0%,#3b688b 100%);
}
.contact .box .button_contact:hover {
	transform: scale(1.05);
}


/* --------- COMMENTS --------- */

.comments {
	padding: 45px;
	color: #333;
	background: white;
	font-family: "Open Sans";
	text-align: center;
}
.comments h2 {
	font-weight: 700;
	font-size: 46px;
	margin: 0px;
	margin-bottom: 60px;
}
.comments .slides {
	width: 940px;
	margin: auto;
	position: relative;
}
.comments .slides .slide_left, 
.comments .slides .slide_right {
	position: absolute;
	top: 130px;
	width: 9px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s;
	cursor: pointer;
}
.comments .slides .slide_left {
	left: 0px;
	background-image: url("../img/slider_arrow_left.png");
}
.comments .slides .slide_right {
	right: 0px;
	background-image: url("../img/slider_arrow_right.png");
}
.comments .slides .slide_left:hover, 
.comments .slides .slide_right:hover {
	transform: scale(1.5);
}



.comments .slides .item {
	width: 940px;
}
.comments .slides .user {
	margin-bottom: 40px;
}
.comments .slides .user .avatar {
	width: 85px;
	height: 85px;
	background-image: url("../img/comment_avatar.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.comments .slides .user .name {
	display: inline-block;
	vertical-align: middle;
	color: #079aac;
	font-weight: 400;
	font-size: 22px;
	text-align: left;
	margin-left: 20px;
}
.comments .slides .user .name span {
	color: #666;
	font-size: 20px;
	display: block;
}
.comments .slides .text {
	width: 730px;
	margin: auto;
	color: #333;
	font-weight: 400;
	font-size: 18px;
}
.comments .slides .text span {
	color: #8d81ac;
	cursor: pointer;
}
.comments .slides .time {
	color: #268fa8;
	font-weight: 400;
	font-size: 18px;
	margin-top: 30px;
}



/* --------- SUBSCRIBE --------- */

.subs {
	background-color: #3c688b;
	color: white;
	font-weight: 700;
	padding: 50px;
	box-sizing: border-box;
}
.subs h2 {
	vertical-align: middle;
	display: inline-block;
	margin: 0px;
	font-size: 30px;
}
.subs .right {
	float: right;
	vertical-align: middle;
}
.subs .right input {
	font-weight: 400;
	font-size: 14px;
	padding: 12px 25px;
	border: none;
	border-radius: 100px;
	color: #333;
	font-family: "Open Sans";
	background-color: white;
	min-width: 335px;
	box-sizing: border-box;
	outline: none;
	margin-right: 20px;
	height: 43px;
}
.subs .right .subscribe_button {
	font-weight: 700;
	font-size: 16px;
	padding: 10px 27px;
	border: none;
	border-radius: 100px;
	color: white;
	font-family: "Open Sans";
	background-color: #f34310;
	box-sizing: border-box;
	outline: none;
	height: 43px;
	cursor: pointer;
	transition: all 0.5s;
}
.subs .right .subscribe_button:hover {
	background-color: #de3f0a;
}


/*------------ FOOTER --------------*/

.footer {
	padding-top: 70px;
	font-weight: 400;
}
.footer .col {
	float: left;
	vertical-align: top;
	box-sizing: border-box;
	padding: 5px;
	display: inline-block;
}
.footer .company {
	width: 350px;
	color: #666;
}

.footer .navigation {
	width: 200px;
	color: #666;
}
.footer .navigation b {
	color: #323232;
	font-weight: 700;
	display: block;
	margin-bottom: 20px;
}
.footer .navigation a {
	display: block;
	font-weight: 400;
}
.footer .navigation a:hover {
	color: #444;
}
.footer .contacts {
	width: 290px;
}
.footer .contacts .phone {
	color: #3f3f3f;
	font-weight: 700;
	font-size: 18px;
}
.footer .contacts .phone span {
	color: #848e97;
	font-weight: 400;
	font-size: 10px;
	display: block;
}
.footer .contacts b {
	font-weight: 600;
	color: #4d4d4d;
	display: block;
	font-size: 16px;
	margin-top: 20px;
}

.footer .info {
	width: 295px;
	font-size: 14px;
}
.footer .info b {
	display: block;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 16px;
    color: #333;
}
.footer .info p {
	color: #707070;
	font-weight: 400;
}
.footer .info p b {
	margin-bottom: 0px;
	font-size: inherit;
}
.footer .clear {
	border-bottom: 1px solid #f5f5f5;
}

.footer .social {
	padding: 45px 0px;
	text-align: center;
}

.footer .social div {
	margin: 20px;
	display: inline-block;
}
.footer .social button {
	width: 240px;
	box-sizing: border-box;
	padding: 14px;
	text-align: center;
	background-position: 25px 50%;
	background-repeat: no-repeat;
	color: white;
	font-weight: 400;
	font-size: 18px;
	font-family: "Montserrat";
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
}
.footer .social button:hover {
	transform: scale(1.1);
}
.footer .social .twitter button {
	background-image: url("../img/twitter.png");
	background-color: #26a6d1;
}
.footer .social .facebook button {
	background-image: url("../img/facebook.png");
	background-color: #3b597c;
}
.footer .social span {
	display: block;
	margin-top: 20px;
	color: #848e97;
	font-weight: 400;
	font-size: 14px;
}









/*************************************/
/********* ALL PAGES CONFIG **********/
/*************************************/

.header_pages {
	height: 250px;
    background-position: top;
}
.header .page_name {
	font-size: 60px;
	font-weight: 700;
	margin: 0 auto;
	margin-top: 40px;
	color: white;
}
.footer_pages {
	border-top: 1px solid #d6d6d6;
}
.footer_pages .clear {
	border-bottom: none !important;
	margin-bottom: 60px;
}
.header .page_name.terms {
	font-size: 36px;
	text-align: center;
}

/*************************************/
/*********** ABOUT US PAGE ***********/
/*************************************/

.about_page {
	font-family: "Open Sans";
	font-size: 17px;
	color: #333;
	position: relative;
}
.about_page h2 {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
}
.about_page .list div {
	padding-left: 20px;
	background-image: url("../img/about_list_check.png");
	background-repeat: no-repeat;
	background-position: 0px 50%;
	margin: 15px 0px;
	font-weight: 400;
	color: #333;
}
.about_page h3 {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700;
}
.about_page p {
	width: 630px;
	color: #666;
	font-weight: 400;
	margin-bottom: 0px;
	padding-bottom: 90px;
}
.about_page .shape {
	background-image: url("../img/about_girl.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 600px;
	height: 640px;
	position: absolute;
	right: -60px;
	bottom: 0px;
}


/*************************************/
/************* FAQ's PAGE ************/
/*************************************/

.faq_page {
	font-family: "Open Sans";
	font-size: 17px;
	color: #333;
	font-weight: 400;
	padding-bottom: 60px;
}
.faq_page .title {
	margin-top: 30px;
	margin-bottom: 50px;
}
.faq_list .item {
	margin: 15px 0px;
}
.faq_list .item .ask {
	color: #333;
	padding: 5px 0px;
	padding-left: 42px;
	font-weight: 700;
	background-image: url("../img/faq_list_close.png");
	background-repeat: no-repeat;
	background-position: 0px 50%;
	cursor: pointer;
}
.faq_list .item .answer {
	display: none;
	width: 960px !important;
	margin-left: 40px !important;
	border-left: 3px solid #00a1b0;
	padding-left: 20px !important;
	color: #666;
	margin-top: 30px;
	margin-bottom: 40px;
}
.faq_list .item.open .ask {
	background-image: url("../img/faq_list_open.png");
	/*display: block;*/
}
.faq_list ul {
	margin: 0px;
	padding-left: 20px;
	list-style-type: square;
}
.faq_list ul.inside {
    list-style-type: circle;
    margin-top: 0px;
}
.faq_list ul li a {
	color: #00a1b0;
    font-weight: 600;
}


/*************************************/
/*********** Contact PAGE ************/
/*************************************/

.contact_page {
	padding-top: 70px;
	padding-bottom: 90px;
	font-weight: 400;
}
.contact_page .form {
	width: 620px;
	display: inline-block;
	border-right: 1px solid #333;
	position: relative;
}
.contact_page .form:after {
	content: '';
    border: 10px solid transparent;
    border-left-color: #333;
    border-right: 0;
    position: absolute;
    right: -10px;
    top: calc(50% - 10px);
}
.contact_page .form input, 
.contact_page .form textarea {
	font-weight: 400;
	font-family: "Open Sans";
	font-size: 20px;
	color: #333;
	background-color: #f1f1f1;
	border-radius: 2px;
	border: none;
	padding: 15px 25px;
	width: 555px;
	display: block;
	margin-bottom: 20px;
	resize: none;
	box-sizing: border-box;
	outline: none;
}
.contact_page .form input::-webkit-input-placeholder, 
.contact_page .form textarea::-webkit-input-placeholder {
	color: #b3b3b3;
	font-weight: 100;
}
.contact_page .form button {
	font-weight: 700;
	font-size: 22px;
	color: white;
	padding: 25px;
	min-width: 200px;
	border: none;
	border-radius: 2px;
	background-color: #f6440c;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.5s;
	outline: none;
}
.contact_page .form button:hover {
	background-color: #bb370e;
}


.contact_page .info {
	width: 500px;
	vertical-align: top;
	display: inline-block;
	padding-left: 65px;
	box-sizing: border-box;
}
.contact_page .info .list {
	padding: 5px;
	padding-left: 28px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	margin-bottom: 40px;
}
.contact_page .info .list b {
	font-size: 16px;
	font-weight: 700;
}
.contact_page .info .list.address {
	background-image: url("../img/contact_info_address.png");
}
.contact_page .info .list.phone {
	margin-bottom: 30px;
	background-position: 2px 50%;
	background-image: url("../img/contact_info_phone.png");
}
.contact_page .info .list.email {
	background-image: url("../img/contact_info_email.png");
}

.contact_page .info h3 {
	font-size: 24px;
	font-weight: 400;
}
.contact_page .info .links a {
	margin-right: 28px;
	margin-bottom: 24px;
	display: inline-block;
	width: 45px;
	height: 45px;
	transition: all 0.5s;
}
.contact_page .info .links a img {
	transition: all 0.5s;
}
.contact_page .info .links a:hover > img {
	transition: all 0.5s;
	transform: rotateY(360deg);
}



/*************************************/
/************ SIGNUP FORM ************/
/*************************************/


.header_signup {
	background-image: url("../img/header_bg_large.jpg");
	height: 830px;
	position: relative;
}
.form_sign {
	position: absolute;
	bottom: 50px;
	background: rgba(255,255,255,0.1);
	padding: 50px;
	margin: auto;
	border-top: 2px solid #d0d4d4;
	width: 490px;
	box-sizing: border-box;
	left: calc(50% - 245px);
	color: white;
	text-align: center;
	padding-top: 95px;
}
.form_sign.login {
	bottom: 120px;
}

.form_sign .top {
	position: absolute;
	top: -45px;
	left: 0px;
	right: 0px;
	text-align: center;

}
.form_sign .top .icon {
	width: 90px;
	height: 90px;
	border: 2px solid white;
	background-color: #333e48;
	border-radius: 100%;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}
.form_sign .top .icon.login {background-image: url("../img/icon_sign_login_head.png");}
.form_sign .top .icon.reg {background-image: url("../img/icon_sign_reg_head.png");}

.form_sign .top h2 {
	font-size: 25px;
	font-weight: 700;
	margin: 0px;
	margin-top: 5px;
}


.form_sign .label {
	font-size: 15px;
	color: white;
	text-align: left;
	display: flex;
}
.form_sign label {
	font-size: 15px;
	color: white;
	text-align: left;
	display: inline-block;
	float: left;
}
.form_sign label a {
	color: #f65c5c;
}
.form_sign .label img {
	margin: auto;
	margin-left: 0px;
	margin-right: 5px;
}
.form_sign input {
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.25);
	color: white;
	padding: 12px;
	font-size: 16px;
	font-weight: 400;
	border: none;
	margin-top: 8px;
	margin-bottom: 20px;
	outline: none;
	padding-left: 20px;
	font-family: "Open Sans";
	transition: all 0.5s;
	border-bottom: 2px solid rgba(255,255,255,0);
	border-radius: 2px;
}
.form_sign input:focus {
	border-bottom: 2px solid rgba(255,255,255,0.5);
}
.form_sign button {
	background-color: #00a3af;
	color: white;
	border: none;
	border-top: 1px solid #59c3cb;
	border-bottom: 1px solid #007982;
	border-radius: 5px;
	font-weight: 700;
	font-size: 20px;
	padding: 15px;
	width: 100%;
	display: block;
	outline: none;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
}
.form_sign button:hover {
	background-color: #028a94;
}
.form_sign .go_reg {
	font-size: 15px;
	color: white;
	font-weight: 400;
	text-align: left;
	margin-top: 35px;
}
.form_sign .go_reg a {
	color: #f65c5c;
	margin-left: 10px;
}


.terms {
	padding-bottom: 85px;
	border-bottom: 1px solid #d6d6d6;
}
.terms h2 {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	margin: 0px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.terms p,
.terms ul,
.terms ol {
	font-size: 18px;
	color: #666;
	font-weight: 400;
}



/*************************************/
/*********** ACCOUNT PAGE ************/
/*************************************/

.account {
	padding-top: 65px;
	padding-bottom: 100px;
}
.account .avatar {
	width: 260px;
	box-sizing: border-box;
	float: left;
	vertical-align: top;
}
.account .avatar .image {
	width: 260px;
	height: 260px;
	border: 1px solid #d7d7d7;
	padding: 12px;
	box-sizing: border-box;
}
.account .avatar .image > div {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.account .avatar .save {
	background-color: #00a3af;
	color: white;
	border: none;
	border-top: 1px solid #59c3cb;
	border-bottom: 1px solid #007982;
	border-radius: 5px;
	font-weight: 400;
	font-size: 16px;
	padding: 15px;
	width: 100%;
	display: block;
	outline: none;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
	text-align: center;
	box-sizing: border-box;
}
.account .avatar .save:hover {
	background-color: #028a94;
}



.account .info {
	margin-left: 80px;
	width: 650px;
	float: left;
	font-weight: 700;
	color: #333;	
}
.account .info .item {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.account .info .item.half {
	width: 50%;
	box-sizing: border-box;
	float: left;
}
.account .info .item.half.alter input {
	width: 45% !important;
}
.account .info span {
	color: #666;
	font-weight: 400;
	font-size: 16px;
	min-width: 100px;
	display: inline-block;
}
.account .info .edit {
	float: right;
	display: inline-block;
	color: #296dca;
	text-decoration: underline;
	font-weight: 600;
	cursor: pointer;
}
.account .info .half.item.main .edit {padding-right: 30px;}
.account .info .half.item.alter span {min-width: 160px;}


.account .info input, .account .info select {
	border: none;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	background: transparent;
	padding: 5px;
	margin: -5px 0px;
	margin-bottom: -7px;
	box-sizing: border-box;
	outline: none;
}
.account .info input.editable, .account .info select.editable {
	padding-left: 4px;
	border: 1px solid rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.025);
}

.account .info .save {
	background-color: #333e48;
	color: white;
	border: none;
	border-top: 1px solid #7a8188;
	border-bottom: 1px solid #262e36;
	border-radius: 5px;
	font-weight: 400;
	font-size: 16px;
	padding: 15px;
	width: 220px;
	display: block;
	outline: none;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
	text-align: center;
	box-sizing: border-box;
	margin-top: 50px;
	position: relative;
}
.account .info .save:hover {
	background-color: #20272e;
}

.account .info .save .success {
	position: absolute;
	padding: 15px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: white;
	background: #00a3af;
	opacity: 0;
	transition: all 0.5s;
}
.account .info .save .success.true {
	opacity: 1;
}



/*************************************/
/************ SEARCH PAGE ************/
/*************************************/

.search_page_header .page_name {
	font-size: 60px;
	margin-top: 40px;
}

.search_page {
	padding-top: 40px;
}
.search_page .menu {
	width: 280px;
	float: left;
	vertical-align: top;
	box-sizing: border-box;
}
.search_page .content {
	width: 855px;
	float: left;
	vertical-align: top;
	border-left: 1px solid #dfdddd;
	box-sizing: border-box;
	min-height: 500px;
}

.search_page .menu .form {
	width: 265px;
	border: 1px solid #d7d7d7;
	background-color: #fbfbfb;
	padding: 30px;
	font-size: 14px;
	font-weight: 600;
	color: #333e48;
	box-sizing: border-box;
}

.search_page .menu .form h2 {
  line-height: 60px;
	background-color: #333e48;
	color: white;
  height:60px;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin: -30px;
	margin-bottom: 30px;
}
.search_page .menu .form h2 p {
 margin:0;
}
.search_page .menu .form label {
	margin-bottom: 5px;
	display: block;
}

.search_page .menu .form input, .search_page .menu .form select {
	background-color: #e9e9e9;
	color: #333;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 14px;
	box-sizing: border-box;
	padding: 5px 10px;
	width: 100%;
	border-radius: 2px;
	border: none;
	outline: none;
	margin-bottom: 20px;
}
.search_page .menu .form input.half {
	width: 48%;
	float: left;
}
.search_page .menu .form input.half:nth-child(even) {
	float: right;
}

.search_page .menu .form button {
	background-color: #00a3af;
	font-size: 16px;
	font-weight: 700;
	font-family: "Open Sans";
	color: white;
	padding: 12px;
	text-align: center;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: none;
	border-top: 1px solid #59c3cb;
	border-bottom: 1px solid #007982;
	cursor: pointer;
	outline: none;
	transition: all 0.5s;
}
.search_page .menu .form button:hover {
	background-color: #058690;
}




.search_page .user {
	padding-bottom: 40px;
	padding-left: 15px;
	border-bottom: 5px solid #e9e9e9;
	margin-bottom: 50px;
}
.search_page .user:nth-child(2) {
	/*border: none;*/
}
.search_page .user .clear {
	border: none;
}
.search_page .user .left {
	float: left;
	width: 130px;
	vertical-align: top;
}
.search_page .user .left .avatar {
	padding: 4px;
	border: 1px solid #dcdcdc;
	box-shadow: 1px 1px 1px #dcdcdc;
	margin-bottom: 25px;
	min-width: 120px;
	min-height: 120px;
}
.search_page .user .left .avatar img {
	display: block;
	width: 100%;
}

.search_page .user .left .av {
	margin-top: 7px;
	font-size: 16px;
	font-weight: 400;
	color: #d1d1d1;
}
.search_page .user .left .av span {
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: baseline;
	background-color: #ebeaea;
	margin-right: 10px;
	border-radius: 100%;
}
.search_page .user .left .av.selected {
	color: #666;
}
.search_page .user .left .av.selected span {background: #32c904}
.search_page .user .left .not_av.selected span {background: #c93204}

.search_page .user .about {
	float: left;
	vertical-align: top;
	width: 700px;
	box-sizing: border-box;
	padding-left: 20px;
}

.search_page .user .about .name {
	font-size: 16px;
	font-weight: 400;
	color: #666;
	border-bottom: 1px solid #dfdddd;
	padding-bottom: 15px;
}
.search_page .user .about .name b {
	display: block;
	color: #333;
	margin-top: 10px;
	text-transform: uppercase;
}

.user .about .rating-block {
	float: right;
	vertical-align: middle;
	text-align: right;
	font-size: 14px;
	font-weight: 600;
	color: #333;
}
.user .about .rating-block div {
	margin-bottom: 10px;
}
.user .about .rating-block span {
	float: left;
	margin-right: 30px;
}
.user .about .info {
	padding: 15px 0px;
	border-bottom: 1px solid #dfdddd;
}
.search_page .user .about .info b {
	color: #333;
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
}
.user .about .info p {
	font-weight: 400;
	font-size: 15px;
	color: #666;
	margin: 0px;
	width: 100%;
	padding: 0px;
	text-align: left;
}

.user .about .job_types {
	padding: 15px 0px;
	border-bottom: 1px solid #dfdddd;
}
.user .about .job_types div {
	padding: 8px 20px;
	background: #fefefe;
	border: 1px solid rgba(0,0,0,0.1);
	color: #696969;
	font-weight: 400;
	font-size: 13px;
	display: inline-block;
	border-radius: 200px;
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.5s;
}
.user .about .job_types div:hover {
	background: #ccc;
	color: #333;
}
.user .about .job_types div.selected {
	background: #333;
	color: white;
}

.user .about .rate {
	font-weight: 800;
	color: #333;
	padding-top: 10px;
	font-size: 16px;
	padding-bottom: 20px;
}
.user .about .rate b {
	color: #00a3af;
	font-size: 22px;
	display: block;
	margin-top: 10px;
}
.user .about .desc,
.user .about .hours-worked,
.user .about .response-rating,
.user .about .satisfaction-rating {
    padding: 15px 0px;
    border-top: 1px solid #dfdddd;
    padding-bottom: 40px;
    overflow: hidden;
    display: none;
    width: 100% !important;
    box-sizing: border-box;
}
.user .about .desc.ng-hide,
.user .about .hours-worked.ng-hide,
.user .about .response-rating.ng-hide,
.user .about .satisfaction-rating.ng-hide {
	display: none;
	height: 0;
	opacity: 0;
}
.user .about .desc textarea,
.user .about .hours-worked input,
.user .about .response-rating input,
.user .about .satisfaction-rating input {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.15);
	color: #333;
	font-family: inherit;
	font-weight: 400;
	outline: none;
}
.user .about .desc b {
	color: #333;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
	float: left;
}
.user .about .response-rating b,
.user .about .satisfaction-rating b {
	float: left;
	margin-right: 20px;
}

.buttons {
	line-height: 4;
}

.buttons button {
	background-color: #333e48;
	color: white;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	padding: 15px 25px;
	border-radius: 3px;
	border: none;
	display: inline-block;
	margin-right: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
	transition: all 0.5s;
	outline: none;
	position: relative;
}
.buttons button:hover {
	background: #1c2227;
}
.buttons button.vendor {
	background: #00a3af;
}
.buttons button.vendor:hover {
	background: #007f88;
}

.buttons button[disabled] {
	background: #ccc;
	cursor: no-drop;
}

.buttons button .success {
	display: none;
	position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: #00a3af;
}

.buttons button.success {
	color: white;
	background: #00a3af;
}


.pagination {
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 75px;
}
.pagination div {
	padding: 8px 15px;
	border-right: 1px solid #ddd;
	display: inline-block;
	transition: all 0.5s;
	margin: 0px;
	float: left;
	cursor: pointer;
}
.pagination div:last-child {
	border: none;
}
.pagination div:hover {
	background: #e9e9e9;
}
.pagination div.selected {
	background: #595959;
	color: white;
}



/*************************************/
/************ Vendor DASH ************/
/*************************************/

.vendordash {
	padding-top: 35px;
	padding-bottom: 50px;
}
.vendordash .left {
	width: 650px;
	float: left;
	vertical-align: top;
	margin-right: 80px;
	box-sizing: border-box;
}
.vendordash .right {
	width: 400px;
	float: left;
	vertical-align: top;
	box-sizing: border-box;
}

.vendordash .user .avatar {
	padding: 4px;
	border: 1px solid #dcdcdc;
	box-shadow: 1px 1px 1px #dcdcdc;
	margin-bottom: 15px;
	width: 120px;
	height: 120px;
	display: inline-block;
}
.vendordash .user .avatar div {
  height: 100%;
  width: 100%;
  background-size: contain;
}

.vendordash .user .info {
	float: right;
	vertical-align: top;
	text-align: right;
	width: 370px;
}
.user .info .rating-block {
	margin-top: 15px;
	font-weight: 400;
	height: 35px;
}
/*.rating.medium .star, .star.medium {*/
	/*padding-right: 5px;*/
/*}*/
/*.label-value.medium, .rating.medium .label-value {*/
	/*font-size: 10px !important;*/
/*}*/
.user .info .rating-block span {
	float: left;
}
.user .info .rating-block span {
	float: left;
}
.user .info .rating-block .rating {
	float: right;
}
.vendordash .user .av {
	cursor: pointer;
	margin-top: 7px;
	font-size: 16px;
	font-weight: 400;
	color: #d1d1d1;
}
.vendordash .user .info .status {
	display: block;
	float: right;
	text-align: left;
}
.vendordash .user .av span {
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: baseline;
	background-color: #ebeaea;
	margin-right: 10px;
	border-radius: 100%;
}
.vendordash .user .av.selected {
	color: #666;
}
.vendordash .user .av:hover,
.vendordash .user .av.selected:hover {
	text-decoration: underline;
}
.vendordash .user .av.selected span {background: #32c904}
.vendordash .user .not_av.selected span {background: #c93204}

.vendordash .user .name {
	font-size: 16px;
	color: #666;
	font-weight: 400;
	margin: 0px;
	margin-bottom: 30px;
}
.vendordash .user .name b {
	display: block;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
}
.vendordash .description label, .vendordash .other label, .vendordash .list label {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
	display: block;
}
.vendordash .description label small {
	font-size: 13px;
	color: #b2afaf;
	font-weight: 400;
}
.vendordash .description label a {
	color: #1a63c6;
	float: right;
	text-decoration: underline;
	font-size: 14px;
	cursor: pointer;
}
.vendordash .description textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: 80px;
	font-family: "Open Sans";
	font-weight: 400;
	color: #333;
	background: white;
	border: 1px solid #c2c2c2;
	margin-bottom: 25px;
	max-width: 100%;
	outline: none;
}

.vendordash .list {
	margin-bottom: 25px;
}

.vendordash .list select {
	border: 1px solid #c2c2c2;
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: 400;
	background: white;
	width: 260px;
	box-sizing: border-box;
	padding: 7px 5px;
	outline: none;
}

.vendordash .list .items {
	float: right;
	width: 370px;
	vertical-align: top;
}
.vendordash .list .items-jobs {
	width: 370px;
	vertical-align: top;
}
.vendordash .list .items div,
.vendordash .list .items-jobs div {
	padding: 8px 20px;
	padding-right: 10px;
	background: #fefefe;
	border: 1px solid #d2d2d2;
	color: #908f8f;
	font-weight: 400;
	font-size: 13px;
	display: inline-block;
	border-radius: 200px;
	margin-right: 5px;
}
.vendordash .list .items div span,
.vendordash .list .items-jobs div span {
	margin-left: 10px;
	background-image: url("../img/item_remove.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}
.vendordash .other {
	min-height: 100px;
}
.vendordash .other .rate {
	width: 270px;
	float: left;
	vertical-align: top;
	margin-right: 15px;
}
.vendordash .other .awards {
	width: 365px;
	float: left;
	vertical-align: top;
}

.vendordash .other .input {
	height: 32px;
	border: 1px solid #c2c2c2;
}
.vendordash .other .input input {
	height: 100%;
	border: none;
	background: white;
	display: inline-block;
	font-size: 13px;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
}
.vendordash .other .input span {
	width: 35px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #333;
    line-height: 1.5;
    border-right: 1px solid #c2c2c2;
    height: 100%;
    line-height: 1.6;
}
.vendordash .other .rate input {
	width: 220px;
	padding-left: 5px;
	padding-right: 5px;
}
.vendordash .other .input input[type='file'] {
	display: none;
}
.vendordash .other .awards input {
	width: 270px;
	padding-left: 10px;
	padding-right: 5px;
	box-sizing: border-box;
}
.vendordash .other .awards button {
	width: 90px;
	text-align: center;
	background: #00a3af;
	color: white;
	height: 100%;
	border: none;
	float: right;
	transition: all 0.5s;
	outline: none;
}
.vendordash .other .awards button:hover {
	background: #00828c;
	cursor: pointer;
}

.vendordash .left .shedule, .vendordash .left .profile {
    background-color: #333e48;
    color: white;
    border: none;
    border-top: 1px solid #7a8188;
    border-bottom: 1px solid #262e36;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 30px;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 40px;
    display: inline-block;
    margin-right: 18px;
    transition: all 0.5s;
}
.vendordash .left .profile {
	background-color: #00a3af;
    color: white;
    border-top: 1px solid #59c3cb;
    border-bottom: 1px solid #007982;
}
.vendordash .left .shedule:hover {
	background: #1f252b;
}
.vendordash .left .profile:hover {
	background: #008690;
}


.vendordash .right .completed {
	background: #f2f2f2;
	padding: 20px;
	text-align: center;
	color: #333e48;
	font-size: 24px;
	font-weight: 400;
}
.vendordash .completed .stats {
	margin-top: 20px;
}
.vendordash .completed .stats div {
	color: #333e48;
	font-weight: 600;
	font-size: 16px;
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}
.vendordash .completed .stats div b {
	font-size: 44px;
	color: #00a3af;
	display: block;
	margin-top: 0px;
}
.vendordash .completed .stats hr {
	width: 1px;
	height: 75px;
	background: #bfbebe;
	border: none;
	display: inline-block;
	vertical-align: middle;
}

.vendordash .background {
	text-align: center;
	margin-top: 40px;
}
.vendordash .background h2 {
	color: #333e48;
	font-weight: 400;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 25px;
}
.vendordash .background .input {
	height: 32px;
	border: 1px solid #c2c2c2;
}
.vendordash .background .input input {
	height: 100%;
	border: none;
	background: white;
	display: inline-block;
	font-size: 13px;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
	width: 305px;
	padding-left: 10px;
}
.vendordash .background .input button {
	width: 90px;
	text-align: center;
	background: #00a3af;
	color: white;
	height: 100%;
	border: none;
	float: right;
	transition: all 0.5s;
	outline: none;
}
.vendordash .background .input button:hover {
	background: #00828c;
	cursor: pointer;
}
.vendordash .background .input input[type='file'] {
	display: none;
}

.vendordash .right .ratings {
	margin-top: 30px;
}
.vendordash .right .ratings h2 {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 20px;
	text-align: left;
}
.vendordash .right .ratings .slide_buttons {
	float: right;
}
.vendordash .right .ratings .slide_buttons img {
	vertical-align: middle;
	margin-left: 15px;
	cursor: pointer;
}
.vendordash .ratings .item {

}
.vendordash .ratings hr {
	border: none;
	background: #d2d1d1;
	height: 1px;
	margin-top: 20px;
	display: block;
}
.vendordash .ratings .item b {
	color: #00a3af;
	font-weight: 700;
	font-size: 15px;
	display: block;
	margin-top: 15px;
}
.vendordash .ratings .item p {
	font-weight: 400;
	font-size: 15px;
	color: #666666;
}



/*************************************/
/*********** Customer DASH ***********/
/*************************************/

.customdash {
	padding-top: 40px;
	padding-bottom: 150px;
}
.customdash .info {
	width: 650px;
	display: inline-block;
}
.customdash .info .avatar {
    padding: 4px;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 1px 1px #dcdcdc;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    display: inline-block;
}
.customdash .info .avatar div {
  height: 100%;
  width: 100%;
  background-size: contain;
}
.customdash .info .name {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    font-size: 16px;
    color: #666;
    font-weight: 400;
}
.customdash .info .name b {
	display: block;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
	margin-top: 5px;
}
.customdash .info .about b {
	color: #333;
	font-size: 22px;
	display: block;
	margin-top: 10px;
}
.customdash .info .about b .price {
	float: right;
	vertical-align: middle;
	font-weight: 700;
	color: #00a3af;
}
.customdash .info .about .desc {
	color: #333;
	font-weight: 400;
	font-size: 15px;
	margin-top: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 30px;
    line-height: 1.5;
}
.customdash .info .rating-block {
	margin-top: 15px;
	font-weight: 400;
	color: #333;
	min-height: 25px;
}
.customdash .info .rating-block span {
	min-width: 210px;
	display: inline-block;
	float: left;
}
.customdash .info .post,
.customdash .info .profile {
	font-size: 16px;
	font-weight: 700;
	color: white;
	background: #333e48;
	border-radius: 3px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.1);
	display: inline-block;
	padding: 15px 10px;
	min-width: 130px;
	text-align: center;
	margin-top: 50px;
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.5s;
}
.customdash .info .profile {
	background: #00a3af;
	padding: 15px 30px;
}
.customdash .info .post:hover {
	background: #252d33;
}
.customdash .info .profile:hover {
	background: #03848e;
}



.customdash .items {
	width: 405px;
	display: inline-block;
	vertical-align: top;
	margin-left: 80px;
	box-sizing: border-box;
}
.customdash .items .head {
	color: #333e48;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	padding: 25px;
	background: #f2f2f2;
}
.customdash .items .head b {
	display: block;
	color: #00a3af;
	font-size: 44px;
	margin-top: 10px;
}
.customdash .items .list {
	border: 1px solid #e1e1e1;
}
.customdash .items .list .item {
	position: relative;
}
.customdash .items .list .item div {
	padding: 25px;
	padding-right: 55px;
	cursor: pointer;
	transition: 0.5s all;
	position: relative;
}
.customdash .items .list .item:hover {
	background: #f1f1f1;
}
.customdash .items .list .item.selected {
	background: #e5e5e5;
}
.customdash .items .list .item.selected:before {
	content: '';
	position: absolute;
	top: calc(50% - 15px);
	left: -30px;
    border: 15px solid transparent; /* Прозрачные границы */
    border-right: 15px solid #e5e5e5; /* Добавляем треугольник */
}
.customdash .items .list .item b {
	color: #333;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
	display: block;
}
.customdash .items .list .item p {
	margin: 0px;
	margin-bottom: 20px;
	color: #333;
	font-size: 15px;
	font-weight: 400;
	display: block;
}
.customdash .items .list .item a {
	font-size: 14px;
	font-weight: 700;
	color: #00a3af;
	display: block;
}
.customdash .items .list .item .price {
	float: right;
	color: #00a3af;
	font-size: 24px;
	vertical-align: middle;
}
.customdash .list label, .customdash .other .rate label{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 25px;
	display: block;
}
.customdash .list p{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #333;
	font-weight: 400;
}
.customdash .list select{
	border: 1px solid #c2c2c2;
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: 400;
	background: white;
	width: 270px;
	box-sizing: border-box;
	padding: 7px 5px;
	outline: none;
}
.customdash .other .rate{
	width: 270px;
}
.customdash .other .rate .input {
	height: 32px;
	border: 1px solid #c2c2c2;
}
.customdash .other .rate .input span {
	width: 35px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #333;
	border-right: 1px solid #c2c2c2;
	height: 100%;
	line-height: 1.6;
}
.customdash .other .rate input{
	height: 100%;
	border: none;
	background: white;
	display: inline-block;
	font-size: 13px;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
	width: 220px;
	padding-left: 5px;
	padding-right: 5px;
}
.customdash .list .items{
	float: right;
	width: 360px;
	vertical-align: top;
	margin-left: 0;
}
.customdash .list .items div{
	padding: 8px 20px;
	padding-right: 10px;
	background: #fefefe;
	border: 1px solid #d2d2d2;
	color: #908f8f;
	font-weight: 400;
	font-size: 13px;
	display: inline-block;
	border-radius: 200px;
	margin-right: 5px;
}
.customdash .list .items div span {
	margin-left: 10px;
	background-image: url(../img/item_remove.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}
.customdash .list textarea {
	height: 80px;
	width: 100%;
	border: 1px solid #c2c2c2;
	outline: none;
}

/*************************************/
/************* My ORDERS *************/
/*************************************/

.orders {
	padding-top: 30px;
	padding-bottom: 30px;
}

.orders .user {
	padding: 15px;
	padding-bottom: 25px;
	padding-top: 25px;
	border: 1px solid #e9e9e9;
	border-bottom: 5px solid #e9e9e9;
}
.orders .user .left {
	float: left;
	vertical-align: top;
	width: 130px;	
}
.orders .user .left .avatar {
    padding: 4px;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 1px 1px #dcdcdc;
    margin-bottom: 25px;
    min-width: 120px;
    min-height: 120px;
}
.orders .user .left .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.orders .user .about {
    float: left;
    vertical-align: top;
    width: 975px;
    box-sizing: border-box;
    padding-left: 20px;
}
.orders .user .about .name {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    border-bottom: 1px solid #dfdddd;
    padding-bottom: 15px;
}

.orders .user .about .name b {
    display: block;
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
}
.orders .user .about .info {
    padding: 15px 0px;
    border-bottom: 1px solid #dfdddd;
}
.orders .user .about .info b {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}
.orders .user .about .info p {
    font-weight: 400;
    font-size: 15px;
    color: #666;
    margin: 0px;
    width: 100%;
    padding: 0px;
    text-align: left;
}
.orders .user .about .rate {
    font-weight: 800;
    color: #333;
    padding-top: 10px;
    font-size: 16px;
    padding-bottom: 20px;
	border-bottom: 1px solid #dfdddd;
}
.orders .user .about .rate b {
    color: #00a3af;
    font-size: 22px;
    display: block;
    margin-top: 10px;
}
.orders .user .buttons {
	margin-bottom: 20px;
	margin-top: 15px;
}
.orders .user .buttons button {
    background-color: #333e48;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 3px;
    border: none;
    display: inline-block;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    font-family: "Open Sans";
}
.orders .user .buttons button[type='submit'] {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
.orders .user .buttons button[type='submit']:hover {
	box-shadow: none;
}
.orders .user .buttons button.accept {
    background: #00a3af;
}
.orders .user .buttons button:hover {
	box-shadow: 0px 0px 100px 100px rgba(0,0,0,0.2) inset;
}

.orders .tabs {
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #dfdddd;
	border-bottom: 0px;
}
.orders .tabs .tab {
	float: left;
	width: 25%;
	padding: 15px;
	text-align: center;
	color: #333;
	background: white;
	box-sizing: border-box;
	transition: all 0.25s;
	cursor: pointer;
}
.orders .tabs .tab:hover {
	background: rgba(0,0,0,0.075);
}
.orders .tabs .tab.selected {
	background: #dfdddd;
}
.orders .tabs .tab:nth-child(2) {
	border-left: 1px solid #dfdddd;
	border-right: 1px solid #dfdddd;
}
.orders .tabs .tab:nth-child(4) {border-left: 1px solid #dfdddd;}
.orders .empty {
	border: 1px solid #dfdddd;
    padding: 100px 50px;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    color: #666;
}
/*Loader*/
.loading{
	position: fixed;
	z-index: 9999;
	height: 2em;
	width: 2em;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loading:before{
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.loading:not(:required){
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.loading:not(:required):after{
	content: '';
	display: block;
	font-size: 20px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;

}
@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
100%{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
@-moz-keyframes spinner{
	0%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner{
0%{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg)	;
}
100%{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
}
@keyframes spinner{
	0%{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.ui-notification
{
	position: fixed;
	z-index: 9999;

	width: 300px;

	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;

	color: #fff;
	border-radius: 0;
	background: #337ab7;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.ui-notification.clickable
{
	cursor: pointer;
}
.ui-notification.clickable:hover
{
	opacity: .7;
}
.ui-notification.killed
{
	-webkit-transition: opacity ease 1s;
	-o-transition: opacity ease 1s;
	transition: opacity ease 1s;

	opacity: 0;
}
.ui-notification > h3
{
	font-size: 14px;
	font-weight: bold;

	display: block;

	margin: 10px 10px 0 10px;
	padding: 0 0 5px 0;

	text-align: left;

	border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.ui-notification a
{
	color: #fff;
}
.ui-notification a:hover
{
	text-decoration: underline;
}
.ui-notification > .message
{
	margin: 10px 10px 10px 10px;
}
.ui-notification.warning
{
	color: #fff;
	background: #f0ad4e;
}
.ui-notification.error
{
	color: #fff;
	background: #d9534f;
}
.ui-notification.success
{
	color: #fff;
	background: #5cb85c;
}
.ui-notification.info
{
	color: #fff;
	background: #5bc0de;
}

/* ---------- Rating ------------ */
/*.stars {*/
	/*unicode-bidi: bidi-override;*/
	/*direction: rtl;*/
/*}*/
/*.stars > span {*/
	/*display: inline-block;*/
	/*position: relative;*/
	/*width: 1.1em;*/
/*}*/
/*.stars > span:hover:before,*/
/*.stars > span:hover ~ span:before {*/
	/*content: "\2605";*/
	/*position: absolute;*/
/*}*/

fieldset, label { margin: 0; padding: 0; }
/*body{ margin: 20px; }*/
/*h1 { font-size: 1.5em; margin: 10px; }*/

/****** Style Star Rating Widget *****/

.rating,
.rating-readonly {
	border: none;
	float: left;
}

.rating > input,
.rating-readonly > input{
	display: none;
}
.rating > label:before,
.rating-readonly > label:before {
	margin: 2px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before,
.rating-readonly > .half:before {
	content: "\f089";
	position: absolute;
}

.rating > label,
.rating-readonly > label {
	color: #ddd;
	float: right;
}
.rating span,
.rating-readonly span {
	float: right !important;
	line-height: 22px;
	margin-left: 5px;
	font-size: 10px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating-readonly > input:checked ~ label /* show gold star when clicked */
/*.readonly:not(:checked) > label:hover, !* hover current star *!*/
/*.readonly:not(:checked) > label:hover ~ label*/
{
	color: #FFD700;
} /* hover previous stars in list */
.rating-readonly.dashboard {
	float: right;
}
.rating-empty {
	float: right !important;
	color: #ddd;
}
.readlonly {
	cursor: default !important;
}
.membership .list label {
	display: block;
	background-image: none;
	font-size: 17px;
	padding-left: 20px;
	margin: 15px 0px;
	font-weight: 400;
	color: #333;
	cursor: pointer;
}
.membership .list input {
	float: left;
	margin-right: 15px;
}
/*.readonly > input:checked + label:hover, !* hover current star when changing rating *!*/
/*.readonly > input:checked ~ label:hover,*/
/*.readonly > label:hover ~ input:checked ~ label, !* lighten current selection *!*/
/*.readonly > input:checked ~ label:hover ~ label { color: #ddd; }*/

/* ngToast */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
