<div class="header header_pages">
	
	<div ng-include="'../../components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		Contact Us
	</div>
</div>


<div class="contact_page wrap">

	<div class="form">
		<input type="text" placeholder="Your Name">
		<input type="text" placeholder="Your Email">
		<input type="text" placeholder="Subject">
		<textarea placeholder="Message" rows="4"></textarea>
		<button>Submit</button>
	</div>

	<div class="info">
		<div class="list address">
			<b>Address:</b> Hampton VA 23664
		</div>

<!-- 		<div class="list phone">
			<b>Telenor:</b> 541-9966-9874
		</div> -->

		<div class="list email">
			<b>Email:</b> сontactus@zippygigs.com
		</div>

		<h3>Follow us on:</h3>

		<div class="links">
			<a ui-sref="home"><img src="../../assets/img/contact_facebook.png"></a>
			<a ui-sref="home"><img src="../../assets/img/contact_twitter.png"></a>
			<a ui-sref="home"><img src="../../assets/img/contact_youtube.png"></a><br>
<!-- 			<a ui-sref="#"><img src="../../assets/img/contact_pint.png"></a>
			<a ui-sref="#"><img src="../../assets/img/contact_linkedin.png"></a>
			<a ui-sref="#"><img src="../../assets/img/contact_google.png"></a> -->
		</div>
	</div>

</div>



<div ng-include="'../../components/partials/_footer.html'"></div>
