<div ng-if="vm.userData.type == 3 || vm.userData.type == '3' || vm.userData.type == 1 || vm.userData.type == '1'">
<div class="header header_pages search_page_header">
	
	<div ng-include="'components/partials/_menu.html'"></div>

	<div class="page_name wrap">
		Search Result
	</div>
</div>


<div class="search_page wrap">

	<div class="menu">
		<div class="form">
			<h2><p ng-if="vm.job_type.id">{{vm.job_type.title}}</p></h2>
			<label>Miles from zip code:</label>
			<input type="number" class="half" ng-model="vm.params.radius">
			<input type="text" class="half" placeholder="from zip">

			<label>Status Option:</label>
			<select ng-model="vm.params.status">
				<option value="">- Not Selected -</option>
				<option value="1">Available</option>
				<option value="2">Not Available</option>
			</select>

			<label>Job Type:</label>
			<select ng-model="vm.job_type" ng-options="type as type.title for type in vm.types">
			</select>

			<div ng-if="vm.job_type.id">
				<label>Price:</label>
				<input type="number" class="half" placeholder="max" ng-model="vm.params.hourly_rate_lt">
				<input type="number" class="half" placeholder="min" ng-model="vm.params.hourly_rate_gt">
			</div>

			<button ng-click="vm.search()">Update Search</button>
		</div>
	</div>

	<div class="content">
		<div class="user" ng-repeat="user in vm.users">
			<div class="left">
				<div class="avatar">
					<img src="../../assets/img/no_avatar.jpg" ng-if="user.avatar_url == null">
					<img ng-src="{{ vm.api_img + user.avatar_url }}" ng-if="user.avatar_url != null">
				</div>
				<div class="av"  ng-class="user.vendor_status == 1 ? 'selected' : ''"><span></span>Available</div>
				<div class="av not_av" ng-class="user.vendor_status == 2 ? 'selected' : ''"><span></span>Not Available</div>
			</div>

			<div class="about">
				<div class="name">
					<div class="rating-block">
						<div>
							Response rating by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>

						<div>
							Satisfaction rating by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>
					</div>

					<b>{{ user.first_name }} {{ user.last_name }}</b>
					<br>
				</div>

				<div class="info">
					<b>Experience/background description:</b>
					<p ng-if="user.vendor_description == null">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit.</p>

					<p ng-if="user.vendor_description != null">{{ user.vendor_description }}</p>
				</div>

				<div class="job_types">
					<div ng-repeat="types in user.job_types" ng-click="vm.selectJobType($parent.$index, $index, types.id, types.hourly_rate, $event)" ng-class="user.job.type == types.id ? 'selected' : '' ">{{ types.title }}</div>
				</div>

				<div class="rate">
					Hourly Rate:
					<b>${{ user.job.price }}</b>
				</div>

				<div class="desc">
					<b>Hire description:</b>
					<textarea ng-model="user.job.description"></textarea>
				</div>

				<div class="buttons">
					<button ng-disabled="!user.job.description" ng-click="vm.hire(user, $event)">Hire Now<div class="success">Success</div></button>
					<!-- <button>View Available Times</button> -->
					<button class="vendor" ng-click="vm.openVendorProfile(user.id)">Vendor Profile</button>
				</div>
			</div>



			<div class="clear"></div>
		</div>

		<!--div class="user">
			<div class="left">
				<div class="avatar">
					<img src="../../assets/img/search_user.jpg">
				</div>
				<div class="av"><span></span>Available</div>
				<div class="av not_av selected"><span></span>Not Available</div>
			</div>

			<div class="about">
				<div class="name">
					<div class="rating-block">
						<div>
							Response rating-block by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>

						<div>
							Satisfaction rating-block by stars
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
							<img src="../../assets/img/search_user_star_empty.png">
						</div>
					</div>
					
					First name:
					<b>Jimmy Johnson</b>
				</div>

				<div class="info">
					<b>Experience/background description:</b>
					<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit.</p>
				</div>

				<div class="rate">
					Hourly Rate:
					<b>$10</b>
				</div>

				<div class="buttons">
					<button>Hire Now</button>
					<button>View Available Times</button>
					<button class="vendor">Vendor Profile</button>
				</div>
			</div>



			<div class="clear"></div>
		</div-->

<!-- 		<div class="pagination">
			<div>« Previous</div>
			<div class="selected">1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>...</div>
			<div>6</div>
			<div>Next »</div>
		</div> -->

	</div>


	<div class="clear"></div>

</div>


<div ng-include="'components/partials/_footer.html'"></div>
</div>