<div ng-if="vm.userData.type == 1 || vm.userData.type !== '1' || vm.userData.type == 3 || vm.userData.type !== '3'">
    <div class="header header_pages search_page_header">

        <div ng-include="'components/partials/_menu.html'"></div>

        <div class="page_name wrap">
            Vendor Profile
        </div>
    </div>


    <div class="vendordash wrap">

        <div class="left">
            <div class="user">
                <div class="avatar">
                    <!--<div style="height: 100%; width: 100%;" ng-if="vm.userData.avatar_url" ng-style="{'backgroundImage': 'url(http://26756.s.t4vps.eu/api/v1/client{{vm.userData.avatar_url}})'}"></div>-->
                    <img style="height: 120px; width: 120px;" ng-src="{{ vm.api_img + vm.profile.avatar_url}}" ng-if="vm.profile.avatar_url != null">
                    <img style="height: 120px; width: 120px;" src="../../assets/img/no_avatar.jpg" ng-if="vm.profile.avatar_url == null">
                </div>
                <div class="info">
                    <div class="status">
                        <div ng-class="vm.profile.vendor_status == 1 ? 'selected' : ''" class="av readlonly"><span></span>Available</div>
                        <div ng-class="vm.profile.vendor_status == 2 ? 'selected not_av' : ''" class="av readlonly"><span></span>Not Available</div>
                    </div>
                    <div class="clear"></div>

                    <div class="rating-block">
                        <span>Response rating by stars</span>
                        <fieldset class="rating-readonly dashboard" ng-show="vm.profile.response_rating">
                            <span>4.0</span>
                            <input type="radio" id="1star5" name="rating1" value="5" disabled/><label class = "full" for="1star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="1star4half" name="rating1" value="4 and a half" disabled/><label class="half" for="1star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="1star3half" name="rating1" value="3 and a half" /><label class="half" for="1star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="1star3" name="rating1" value="3" disabled/><label class = "full" for="1star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="1star2half" name="rating1" value="2 and a half" disabled/><label class="half" for="1star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="1star2" name="rating1" value="2" disabled/><label class = "full" for="1star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="1star1half" name="rating1" value="1 and a half" disabled/><label class="half" for="1star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="1star1" name="rating1" value="1" disabled/><label class = "full" for="1star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="1starhalf" name="rating1" value="half" disabled/><label class="half" for="1starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                        <span class="rating-empty" ng-show="!vm.profile.response_rating">- No rating yet -</span>
                        <!--<img src="../../assets/img/search_user_star.png">-->
                        <!--<img src="../../assets/img/search_user_star.png">-->
                        <!--<img src="../../assets/img/search_user_star_empty.png">-->
                        <!--<img src="../../assets/img/search_user_star_empty.png">-->
                        <!--<img src="../../assets/img/search_user_star_empty.png">-->
                    </div>

                    <div class="rating-block">
                        <span>Satisfaction rating by stars</span>
                        <fieldset class="rating-readonly dashboard" ng-show="vm.profile.satisfaction_rating">
                            <span>4.5</span>
                            <input type="radio" id="2star5" name="rating2" value="5" disabled/><label class="full" for="2star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="2star4half" name="rating2" value="4 and a half" checked/><label class="half" for="2star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="2star4" name="rating2" value="4" disabled/><label class = "full" for="2star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="2star3half" name="rating2" value="3 and a half" disabled/><label class="half" for="2star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="2star3" name="rating2" value="3" disabled/><label class = "full" for="2star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="2star2half" name="rating2" value="2 and a half" disabled/><label class="half" for="2star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="2star2" name="rating2" value="2" disabled/><label class = "full" for="2star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="2star1half" name="rating2" value="1 and a half" disabled/><label class="half" for="2star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="2star1" name="rating2" value="1" disabled/><label class = "full" for="2star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="2starhalf" name="rating2" value="half" disabled/><label class="half" for="2starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                        <span class="rating-empty" ng-show="!vm.profile.satisfaction_rating">- No rating yet -</span>

                        <!--<div class="rating medium star-icon direction-ltr value-1 half label-top">-->
                        <!--<div class="star-container">-->
                        <!--<div class="star">-->
                        <!--<i class="star-empty"></i>-->
                        <!--<i class="star-half"></i>-->
                        <!--<i class="star-filled"></i>-->
                        <!--</div>-->
                        <!--<div class="star">-->
                        <!--<i class="star-empty"></i>-->
                        <!--<i class="star-half"></i>-->
                        <!--<i class="star-filled"></i>-->
                        <!--</div>-->
                        <!--<div class="star">-->
                        <!--<i class="star-empty"></i>-->
                        <!--<i class="star-half"></i>-->
                        <!--<i class="star-filled"></i>-->
                        <!--</div>-->
                        <!--<div class="star">-->
                        <!--<i class="star-empty"></i>-->
                        <!--<i class="star-half"></i>-->
                        <!--<i class="star-filled"></i>-->
                        <!--</div>-->
                        <!--<div class="star">-->
                        <!--<i class="star-empty"></i>-->
                        <!--<i class="star-half"></i>-->
                        <!--<i class="star-filled"></i>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="label-value">4.5</div>-->
                        <!--</div>-->
                        <!--<div class="rating value-3">-->
                        <!--<div class="star-container">-->
                        <!--<div class="star">-->
                        <!--<i class="star-empty"></i>-->
                        <!--<i class="star-half"></i>-->
                        <!--<i class="star-filled"></i>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<img src="../../assets/img/search_user_star.png">-->
                        <!--<img src="../../assets/img/search_user_star.png">-->
                        <!--<img src="../../assets/img/search_user_star_empty.png">-->
                        <!--<img src="../../assets/img/search_user_star_empty.png">-->
                        <!--<img src="../../assets/img/search_user_star_empty.png">-->
                    </div>
                </div>

                <p class="name">
                    Full name:
                    <b>{{vm.profile.first_name}} {{vm.profile.last_name}}</b>
                </p>

                <div class="description" ng-show="vm.profile.vendor_description">
                    <label>Profile Description:</label>
                    <p>{{ vm.profile.vendor_description }}</p>
                </div>

                <div class="list">
                    <label>List of Jobs willing to do:</label>
                    <!--<select ng-options="job.title for job in vm.jobTypesData" ng-model="vm.selectedJob">-->
                    <!--</select>-->
                    <div class="items-jobs">
                        <div ng-repeat="item in vm.profile.job_types">{{item.title}} {{item.hourly_rate | currency}}</div>
                    </div>
                </div>
                <div class="list buttons" style="line-height: 1;">
                    <label>Contact info:</label>
                    <p style="font-size: 12px; line-height: 1; font-family: 'Open Sans';">Phone: {{vm.profile.phone}}</p>
                    <p style="font-size: 12px; line-height: 1; font-family: 'Open Sans';">Alternative phone: {{vm.profile.alt_phone}}</p>
                    <p style="font-size: 12px; line-height: 1; font-family: 'Open Sans';">Skype: {{vm.profile.skype}}</p>
                </div>

                <!--<div class="other">-->
                    <!--<div class="rate">-->
                        <!--<label>Hourly Rate:</label>-->
                        <!--<div class="input">-->
                            <!--<span>$</span>-->
                            <!--<input type="text" placeholder="Add Amount" ng-model="vm.selectedHour">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="awards">-->
                    <!--<label>Upload Degrees, Certificates and Awards:</label>-->
                    <!--<div class="input">-->
                    <!--<input type="text" placeholder="Browse File" readonly>-->
                    <!--<input type="file">-->
                    <!--<button>Upload</button>-->
                    <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br>-->
                <!--<button class="shedule">Schedule Available Time</button>-->

            </div>
        </div>


        <div class="right">
            <div class="completed">
                All Gigs completed
                <div class="stats">
                    <div class="earning">
                        Earning
                        <b>$129</b>
                    </div>

                    <hr>

                    <div class="jobs">
                        Past jobs completed
                        <b>2</b>
                    </div>
                </div>
            </div>

            <!--<div class="ratings">-->
            <!--<h2>Ratings and Comments-->
            <!--<div class="slide_buttons">-->
            <!--<img src="../../assets/img/small_slide_left.png">-->
            <!--<img src="../../assets/img/small_slide_right.png">-->
            <!--</div></h2>-->

            <!--<div class="item">-->
            <!--<b>Sam Billings</b>-->
            <!--<p>Neque porro quisquam est qui dolorem ipsum quia dolor Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.sit amet,</p>-->

            <!--<img src="../../assets/img/search_user_star.png">-->
            <!--<img src="../../assets/img/search_user_star.png">-->
            <!--<img src="../../assets/img/search_user_star_empty.png">-->
            <!--<img src="../../assets/img/search_user_star_empty.png">-->
            <!--<img src="../../assets/img/search_user_star_empty.png">-->
            <!--</div>-->

            <!--<hr>-->

            <!--<div class="item">-->
            <!--<b>Sam Billings</b>-->
            <!--<p>Neque porro quisquam est qui dolorem ipsum quia dolor Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.sit amet,</p>-->

            <!--<img src="../../assets/img/search_user_star.png">-->
            <!--<img src="../../assets/img/search_user_star.png">-->
            <!--<img src="../../assets/img/search_user_star_empty.png">-->
            <!--<img src="../../assets/img/search_user_star_empty.png">-->
            <!--<img src="../../assets/img/search_user_star_empty.png">-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="background">-->
            <!--<img src="../../assets/img/success.png">-->
            <!--<h2>Background Check Passed</h2>-->

            <!--<div class="input">-->
            <!--<input type="text" placeholder="Upload Background Check" readonly>-->
            <!--<input type="file">-->
            <!--<button>Upload</button>-->
            <!--</div>-->
            <!--</div>-->

        </div>


        <div class="clear"></div>

    </div>



    <div ng-include="'components/partials/_footer.html'"></div>
</div>